<footer>
	<div class="wrapper cf">
		<div class="row">
			<div class="pane base4 ml12">
				<h3>Connect</h3>
				<div class="social">
						<a href="#" class="social-icon social_facebook"></a>
						<a href="#" class="social-icon social_twitter"></a>
						<a href="#" class="social-icon social_pinterest"></a>
						<a href="#" class="social-icon social_youtube"></a>
						<a href="#" class="social-icon social_rss"></a>
				</div>
				<h3>Sign up for email updates</h3>

				<p>Subscribe to our newsletter to receive the latest news and expert advice on recipes, diets and heath issues.</p>

				<a href="#" class="bttn secondary">Subscribe to Newsletters</a>
			</div>

			<div class="pane base5 ml12">
				&nbsp;
				<div class="mags"></div>
			</div>

			<div class="pane base3 ml12">
				<h3>Subscribe to Healthy Food Guide</h3>
				
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque, nulla nec tempor sagittis, justo eros egestas metus, ut bibendum eros Nulla scelerisque, nulla nec tempor.</p>

				<a href="#" class="bttn secondary">Subscribe Now</a>
			</div>
		</div>
		<div class="row footer-links">
			<div class="pane base12">
				<a href="#">Contact Us</a>
				<a href="#">Advertising</a>
				<a href="#">Subscribe</a>
				<a href="#">Newsletter</a>

				<p>Copyright &copy; 2014 Healthy Food Guide 2014. All rights reserved | Privacy Policy | Cookie Policy | Terms &amp; Conditions</p>
			</div>
		</div>
	</div>
</footer><!-- footer -->

<script type="text/javascript" src="assets/js/lib.min.js"></script>
<script type="text/javascript" src="assets/js/framework.js"></script>
<script type="text/javascript" src="assets/js/components.js"></script>