<footer>
	<div class="wrapper cf">
		<div class="row margin">
			<div class="pane base4 ml12">
				<h3>Connect</h3>
				<div class="social">
						<a href="#" class="social-icon social_facebook"></a>
						<a href="#" class="social-icon social_twitter"></a>
						<a href="#" class="social-icon social_pinterest"></a>
						<a href="#" class="social-icon social_youtube"></a>
						<a href="#" class="social-icon social_rss"></a>
				</div>
				<h3>Sign up for email updates</h3>

				<p>Subscribe to our newsletter to receive the latest news and expert advice on recipes, diets and heath issues.</p>

				<a href="#" class="bttn secondary">Subscribe to Newsletters</a>
			</div>

			<div class="pane base5 ml12 ml-mgZero">
				&nbsp;
				<div class="mags"></div>
			</div>

			<div class="pane base3 ml12 ml-mgZero">
				<h3>Subscribe to Healthy Food Guide</h3>
				
				<p>Save 50% when you subscribe to the monthly magazine for the special price of &pound;9.60 for 6 issues, or get it on your iPad or iPhone for just &pound;12.99.</p>

				<a href="#" class="bttn secondary">Subscribe Now</a>
			</div>
		</div>
		<div class="row margin footer-links">
			<div class="pane base12">
				<a href="#">Contact Us</a>
				<a href="#">Advertising</a>
				<a href="#">Subscribe</a>
				<a href="#">Newsletter</a>

				<p>Copyright &copy; 2014 Healthy Food Guide 2014. All rights reserved | Privacy Policy | Cookie Policy | Terms &amp; Conditions</p>
			</div>
		</div>
	</div>
</footer><!-- footer -->

<script type="text/javascript" src="assets/js/lib.js"></script>
<script type="text/javascript" src="assets/js/framework.js"></script>
<script type="text/javascript" src="assets/js/components.js"></script>

<!-- Beginning Async AdSlot oop for Ad unit healthyfoodguide.co.uk  ### size:  -->
<!-- Adslot's refresh function: googletag.pubads().refresh([gptadslots[0]]) -->
	<div id='div-gpt-ad-oop'>
		<script type='text/javascript'>
			googletag.cmd.push(function() { googletag.display('div-gpt-ad-oop'); });
		</script>
	</div>
<!-- End AdSlot oop -->