<header class="cf">
	<div class="row">

	<div class="pane base8 tp12 ml12">
		<div class="logo"><a href="/hfg"></a></div>
		<div class="subscribe">
			<a href="#" class="sub-cta">Subscribe today</a>
		</div>
	</div>

	<div class="pane base4">
		<div class="social">
				<a href="#" class="social-icon social_facebook"></a>
				<a href="#" class="social-icon social_twitter"></a>
				<a href="#" class="social-icon social_pinterest"></a>
				<a href="#" class="social-icon social_instagram"></a>
				<a href="#" class="social-icon social_youtube"></a>
				<a href="https://plus.google.com/109090891459085127103" rel="publisher" class="social-icon social_googleplus"></a>
				<a href="#" class="social-icon social_rss"></a>
		</div>
		<div class="login">
			<a href="#">Become a member</a>
			<a href="#" class="log-in">Sign in</a>
		</div>
		<div class="login">
			<a href="#" class="signed-in">
				Mel. leyshon
				<img src="assets/img/structure/avatar-small.jpg" alt="">
			</a>
		</div>

		<div class="search">				
				<input id="global-search" class="search-box global-search" name="global-search" placeholder="Find a recipe, ingredient, dish, topic" type="text" value="">
				<a href="#" class="icon_search" title="search"><span></span></a>
			</div>
	</div>
</div>
<div class="row">

		<div class="nav cf">
				<!-- START Navigation -->
			<nav id="primary-navigation" class="component megamenu-container cf">
			<div class="search-btn">
        <a href="#" class="icon_search"></a>
      </div>
      <div class="nav-btn mega-btn">
        <a href="#" class="icon_menu"></a>
      </div>

      <div class="megamenu-list">
      	<ul id="menu-primary" class="megamenu"><li id="menu-item-7637" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-7620 current_page_item menu-item-7637"><a href="">Home</a></li>
					<li id="menu-item-4370" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-4370"><a href="recipes/">Recipes</a>
					<ul class="sub-menu animated">
						<li id="menu-item-4791" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4791"><a href="?page_id=3267">Recipes home</a></li>
						<li id="menu-item-5005" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5005"><a href="recipe-nutrition/">Our recipes explained</a></li>
						<li id="menu-item-5485" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5485"><a href="#">Dietary requirement</a>
						<ul class="sub-menu animated">
							<li id="menu-item-5067" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5067"><a href="category/dietary-requirement/lowcalorie/">low calorie</a></li>
							<li id="menu-item-5068" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5068"><a href="category/dietary-requirement/lowfat/">low fat</a></li>
							<li id="menu-item-5070" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5070"><a href="category/dietary-requirement/lowsaturates/">low saturates</a></li>
							<li id="menu-item-5062" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5062"><a href="category/dietary-requirement/glutenfree/">gluten free</a></li>
							<li id="menu-item-5069" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5069"><a href="category/dietary-requirement/lowsalt/">low salt</a></li>
							<li id="menu-item-5071" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5071"><a href="category/dietary-requirement/lowsugar/">low sugar</a></li>
							<li id="menu-item-5064" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5064"><a href="category/dietary-requirement/highfibre/">high fibre</a></li>
							<li id="menu-item-5066" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5066"><a href="category/dietary-requirement/highprotein/">high protein</a></li>
							<li id="menu-item-5063" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5063"><a href="category/dietary-requirement/highcalcium/">high calcium</a></li>
							<li id="menu-item-5065" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5065"><a href="category/dietary-requirement/highiron/">high iron</a></li>
							<li id="menu-item-5202" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5202"><a href="category/dietary-requirement/veggie/">vegetarian</a></li>
							<li id="menu-item-5235" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5235"><a href="category/dietary-requirement/dairyfree/">dairy free</a></li>
						</ul>
					</li>
						<li id="menu-item-6218" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-6218"><a href="category/10-ways-with/">10 ways with…</a></li>
						<li id="menu-item-7138" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-7138"><a href="category/extreme-makeovers/">extreme makeovers</a></li>
						<li id="menu-item-8441" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-8441"><a href="category/cuisine/">Cuisine</a></li>
						<li id="menu-item-5486" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5486"><a href="#">Main ingredient</a>
						<ul class="sub-menu animated">
							<li id="menu-item-5074" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5074"><a href="category/main-ingredient/chicken-ingredient/">chicken</a></li>
							<li id="menu-item-4754" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4754"><a href="category/main-ingredient/fish-seafood/">fish/seafood</a></li>
							<li id="menu-item-4759" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4759"><a href="category/main-ingredient/vegetables/">vegetables</a></li>
							<li id="menu-item-5076" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5076"><a href="category/main-ingredient/pulses/">pulses</a></li>
							<li id="menu-item-4756" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4756"><a href="category/main-ingredient/pasta/">pasta</a></li>
						</ul>
					</li>
						<li id="menu-item-5488" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5488"><a href="#">Occasion</a>
						<ul class="sub-menu animated">
							<li id="menu-item-4761" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4761"><a href="category/occasion/breakfast/">breakfast</a></li>
							<li id="menu-item-4760" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4760"><a href="category/occasion/lunch/">lunch</a></li>
							<li id="menu-item-4763" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4763"><a href="category/occasion/dinner/">dinner</a></li>
							<li id="menu-item-6641" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-6641"><a href="category/occasion/barbecue/">barbecue</a></li>
						</ul>
					</li>
						<li id="menu-item-5487" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5487"><a href="#">Dishes</a>
						<ul class="sub-menu animated">
							<li id="menu-item-8430" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-8430"><a href="category/dishes/pizza/">pizza</a></li>
							<li id="menu-item-8431" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-8431"><a href="category/dishes/stir-fry/">stir-fry</a></li>
							<li id="menu-item-8432" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-8432"><a href="category/dishes/salad/">salad</a></li>
							<li id="menu-item-8433" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-8433"><a href="category/dishes/cake/">cake</a></li>
						</ul>
					</li>
					</ul>
					</li>
					<li id="menu-item-2281" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2281"><a href="your-health/">Your health</a>
					<ul class="sub-menu animated">
						<li id="menu-item-4795" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4795"><a href="?page_id=2272">Health home</a></li>
						<li id="menu-item-5560" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5560"><a href="category/health-checks/">health checks</a></li>
						<li id="menu-item-5901" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5901"><a href="category/condition">Condition</a>
						<ul class="sub-menu animated">
							<li id="menu-item-5054" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5054"><a href="category/condition/alzheimers-condition/">Alzheimer’s</a></li>
							<li id="menu-item-5058" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5058"><a href="category/condition/arthritis-condition/">arthritis</a></li>
							<li id="menu-item-5055" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5055"><a href="category/condition/cancer/">cancer</a></li>
							<li id="menu-item-5056" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5056"><a href="category/condition/diabetes/">diabetes</a></li>
							<li id="menu-item-7049" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-7049"><a href="category/cystitis/">cystitis</a></li>
							<li id="menu-item-5059" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5059"><a href="category/condition/digestive-health/">digestive health</a></li>
							<li id="menu-item-5060" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5060"><a href="category/condition/fertility/">fertility</a></li>
							<li id="menu-item-5052" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5052"><a href="category/condition/heart-condition/">heart</a></li>
							<li id="menu-item-5961" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5961"><a href="category/condition/high-blood-pressure/">high blood pressure</a></li>
							<li id="menu-item-5744" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5744"><a href="category/condition/high-cholesterol/">high cholesterol</a></li>
							<li id="menu-item-5057" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5057"><a href="category/condition/ibs/">IBS</a></li>
							<li id="menu-item-6793" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-6793"><a href="category/condition/tired/">low energy</a></li>
							<li id="menu-item-5742" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5742"><a href="category/condition/menopause/">menopause</a></li>
							<li id="menu-item-8610" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-8610"><a href="category/condition/migraines/">migraines</a></li>
						</ul>
					</li>
					</ul>
					</li>
					<li id="menu-item-2280" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2280"><a href="weight-loss/">Weight loss</a>
					<ul class="sub-menu animated">
						<li id="menu-item-4784" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4784"><a href="?page_id=2274">Weight loss home</a></li>
						<li id="menu-item-5738" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5738"><a href="category/weight-loss-tips/">weight-loss tips</a></li>
						<li id="menu-item-5608" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5608"><a href="category/mens-weight-loss/">Men’s weight loss</a></li>
						<li id="menu-item-6630" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-6630"><a href="category/fitness-weight-loss/">get active</a></li>
						<li id="menu-item-4816" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4816"><a href="diet/">Diet planner</a></li>
						<li id="menu-item-8592" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8592"><a href="food-diary-template/">Food diary template</a></li>
					</ul>
					</li>
					<li id="menu-item-2279" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2279"><a href="nutrition/">Nutrition</a>
					<ul class="sub-menu animated">
						<li id="menu-item-5035" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5035"><a href="nutrition/">Nutrition home</a></li>
						<li id="menu-item-6364" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-6364"><a href="category/nutrient/">Foods and nutrients</a>
						<ul class="sub-menu animated">
							<li id="menu-item-5449" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5449"><a href="category/vitamins-minerals/">Vitamins &amp; minerals</a></li>
							<li id="menu-item-5756" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5756"><a href="category/nutrient/antioxidants/">antioxidants</a></li>
							<li id="menu-item-5720" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5720"><a href="category/nutrient/fibre/">fibre</a></li>
							<li id="menu-item-5728" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5728"><a href="category/nutrient/carbs/">carbs</a></li>
							<li id="menu-item-6027" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-6027"><a href="category/nutrient/protein/">protein</a></li>
							<li id="menu-item-5730" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5730"><a href="category/nutrient/fat/">fat</a></li>
							<li id="menu-item-5721" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5721"><a href="category/nutrient/sugar/">sugar</a></li>
							<li id="menu-item-5734" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5734"><a href="category/nutrient/probiotics/">probiotics</a></li>
							<li id="menu-item-6031" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-6031"><a href="category/vegetarian-diet/">meat free</a></li>
						</ul>
					</li>
						<li id="menu-item-6681" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6681"><a href="category/10-ways-with/">10 ways with…</a></li>
						<li id="menu-item-2899" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2899"><a href="recipe-nutrition/">Our recipes explained</a></li>
						<li id="menu-item-2898" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2898"><a href="portions-guide/">Portion guide</a></li>
					</ul>
					</li>
					<li id="menu-item-9175" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9175"><a href="category/fitness-weight-loss/">get active</a></li>
					<li id="menu-item-4664" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4664"><a href="qa">Q&amp;A</a></li>
					<li id="menu-item-2284" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2284"><a href="blog/">Blog</a></li>
					<li id="menu-item-7521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7521"><a href="competitions/">Competitions</a></li>
					</ul>
					<a href="#" class="login-mob">Sign in</a>
			</div>
    </nav>
    	<!-- END Navigation -->
    	<a href="newsletter-signup" class="sign-up">Subscribe to newsletters</a>
		</div>	
	</div>
</header><!-- end header -->

<div class="actions">
	<a href="#" class="toggle-grid">Toggle grid</a>
	<a href="#" class="toggle-ads">Toggle adverts</a>
</div>