<header class="cf">
	<div class="row">

	<div class="pane base8 tp12 ml12">
		<div class="logo"><a href="/hfg"></a></div>
		<div class="subscribe"></div>
	</div>

	<div class="pane base4">
		<div class="social">
				<a href="#" class="social-icon social_facebook"></a>
				<a href="#" class="social-icon social_twitter"></a>
				<a href="#" class="social-icon social_pinterest"></a>
				<a href="#" class="social-icon social_youtube"></a>
				<a href="#" class="social-icon social_rss"></a>
		</div>
		<div class="login">
			<a href="#">Become a member</a>
			<a href="#" class="log-in">Sign in</a>
		</div>
		<div class="login">
			<a href="#" class="signed-in">
				Mel. leyshon
				<img src="assets/img/structure/avatar-small.jpg" alt="">
			</a>
		</div>

		<div class="search">				
				<input id="global-search" class="search-box global-search" name="global-search" placeholder="Find a recipe, ingredient, dish, topic" type="text" value="">
				<a href="#" class="icon_search" title="search"><span></span></a>
			</div>
	</div>
</div>
<div class="row">

		<div class="nav cf">
				<!-- START Navigation -->
			<nav id="primary-navigation" class="component megamenu-container cf">
			<div class="search-btn">
        <a href="#" class="icon_search"></a>
      </div>
      <div class="nav-btn mega-btn">
        <a href="#" class="icon_menu"></a>
      </div>

      <div class="megamenu-list">
      	<ul id="menu-primary" class="megamenu">
      		<li id="menu-item-1679" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-550 current_page_item menu-item-1679">
      			<a href="http://134.213.146.151/healthyfoodguide/">Home</a>
      		</li>
					<li id="menu-item-1665" class="menu-item menu-item-type-taxonomy menu-item-object-recipe-cat menu-item-1665">
						<a href="http://134.213.146.151/healthyfoodguide/?recipe-cat=american">American</a>
					</li>
					<li id="menu-item-1666" class="menu-item menu-item-type-taxonomy menu-item-object-recipe-cat menu-item-has-children menu-item-1666">
						<a href="http://134.213.146.151/healthyfoodguide/?recipe-cat=asian">Asian</a>
						
						<ul class="sub-menu">
							<li id="menu-item-1667" class="menu-item menu-item-type-taxonomy menu-item-object-recipe-cat menu-item-has-children menu-item-1667">
								<a href="http://134.213.146.151/healthyfoodguide/?recipe-cat=british">British</a>
								
								<ul class="sub-menu">
									<li id="menu-item-1668" class="menu-item menu-item-type-taxonomy menu-item-object-recipe-cat menu-item-1668">
										<a href="http://134.213.146.151/healthyfoodguide/?recipe-cat=caribbean">Caribbean</a>
									</li>
									<li id="menu-item-1669" class="menu-item menu-item-type-taxonomy menu-item-object-recipe-cat menu-item-1669">
										<a href="http://134.213.146.151/healthyfoodguide/?recipe-cat=burger">Burger</a>
									</li>
								</ul>
							</li>

							<li id="menu-item-1670" class="menu-item menu-item-type-taxonomy menu-item-object-recipe-cat menu-item-1670">
								<a href="http://134.213.146.151/healthyfoodguide/?recipe-cat=casserole">Casserole</a>
							</li>
							<li id="menu-item-1671" class="menu-item menu-item-type-taxonomy menu-item-object-recipe-cat menu-item-1671">
								<a href="http://134.213.146.151/healthyfoodguide/?recipe-cat=cookie">Cookie</a>
							</li>
						</ul>
					</li>
					<li id="menu-item-1672" class="menu-item menu-item-type-taxonomy menu-item-object-recipe-cat menu-item-has-children menu-item-1672">
						<a href="http://134.213.146.151/healthyfoodguide/?recipe-cat=couscous">Couscous</a>
						<ul class="sub-menu">
							<li id="menu-item-1673" class="menu-item menu-item-type-taxonomy menu-item-object-recipe-cat menu-item-1673">
								<a href="http://134.213.146.151/healthyfoodguide/?recipe-cat=christmas">Christmas</a>
							</li>
							<li id="menu-item-1674" class="menu-item menu-item-type-taxonomy menu-item-object-recipe-cat menu-item-1674">
								<a href="http://134.213.146.151/healthyfoodguide/?recipe-cat=dinner">Dinner</a>
							</li>
						</ul>
					</li>
					<li id="menu-item-1675" class="menu-item menu-item-type-taxonomy menu-item-object-recipe-cat menu-item-has-children menu-item-1675">
						<a href="http://134.213.146.151/healthyfoodguide/?recipe-cat=easter">Easter</a>
						<ul class="sub-menu">
							<li id="menu-item-1676" class="menu-item menu-item-type-taxonomy menu-item-object-recipe-cat menu-item-1676">
								<a href="http://134.213.146.151/healthyfoodguide/?recipe-cat=halloween">Halloween</a>
							</li>
						</ul>
					</li>
					<li id="menu-item-1677" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1677">
						<a href="http://134.213.146.151/healthyfoodguide/?page_id=1329">Diet Planner</a>
					</li>
					<li id="menu-item-1678" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1678">
						<a href="http://134.213.146.151/healthyfoodguide/?page_id=1327">Q&amp;A</a>
					</li>
				</ul>
			</div>
    </nav>
    	<!-- END Navigation -->
    	<a href="#" class="sign-up">Subscribe</a>
		</div>	
	</div>
</header><!-- end header -->

<div class="actions">
	<a href="#" class="toggle-grid">Toggle grid</a>
	<a href="#" class="toggle-ads">Toggle adverts</a>
</div>