<header class="cf">
	<div class="row">

	<div class="pane base8 tp12 ml12">
		<div class="logo"><a href="#"></a></div>
		<div class="subscribe"></div>
	</div>

	<div class="pane base4">
		<div class="social">
				<a href="#" class="social-icon social_facebook"></a>
				<a href="#" class="social-icon social_twitter"></a>
				<a href="#" class="social-icon social_pinterest"></a>
				<a href="#" class="social-icon social_youtube"></a>
				<a href="#" class="social-icon social_rss"></a>
		</div>
		<div class="login">
			<a href="#">Become a member</a>
			<a href="#" class="show-dialog" data-target-element="#login_dialog">Sign in</a>
		</div>
		<div class="search">				
				<input id="global-search" class="global-search" name="global-search" placeholder="Find a recipe, ingredient, dish, topic" type="text" value="">
				<a href="#" class="icon_search" title="search"><span></span></a>
			</div>
	</div>
</div>
<div class="row">

		<div class="nav cf">
				<!-- START Navigation -->
			<nav id="primary-navigation" class="component megamenu-container cf">
			<div class="search-btn" data-target-element="header .search">
        <a href="#" class="icon_search"></a>
      </div>
      <div class="nav-btn mega-btn">
        <a href="#" class="icon_menu"></a>
      </div>


      <div class="megamenu-list">
        <ol class="megamenu">
          <li class="site-section">
            <a href="#" class="top-level-item"><span>Recipes</span></a>
            <span class="mega-item"></span>

            <div class="mega-drop">
						  <div class="inner cf">
					        <ul class="menu-items">
					          <li><a href="">Baking &amp; Cookery</a></li>
					          <li><a href="">His &amp; Her Beauty</a></li>
					          <li><a href="">Chocs, Lollies &amp; DIY</a></li>
					          <li><a href="">Cakes &amp; Bakes</a></li>
					          <li><a href="">Flowers</a></li>
					        </ul>
						  </div>
						</div>
          </li>

          <li class="site-section">
            <a href="#" class="top-level-item"><span>Improve your health</span></a>
            <span class="mega-item"></span>

            <div class="mega-drop">
						  <div class="inner cf">
				        <ul class="menu-items">
				          <li><a href="">Sewing</a></li>
				          <li><a href="">Mum's On The Go</a></li>
				          <li><a href="">Cakes &amp; Glassware</a></li>
				          <li><a href="">Flowers</a></li>
				        </ul>
				      </div>
						</div>
          </li>

          <li class="site-section">
            <a href="#" class="top-level-item"><span>Nutrition</span></a>
            <span class="mega-item"></span>

            <div class="mega-drop">
						  <div class="inner cf">
				        <ul class="menu-items">
				          <li><a href="">Eggs For Adults</a></li>
				          <li><a href="">Woodland Friends</a></li>
				          <li><a href="">Cakes &amp; Bakes</a></li>
				          <li><a href="">HCB</a></li>
				          <li><a href="">Seasonal Non-Food</a></li>
				          <li><a href="">Flowers</a></li>
				        </ul>
				      </div>
						</div>
          </li>

          <li class="site-section">
            <a href="#" class="top-level-item"><span>Weight Loss</span></a>
            <span class="mega-item"></span>
          </li>
          <li class="site-section mobile">
            <a href="#" class="top-level-item"><span>Sign in</span></a>
            <span class="mega-item show-dialog" data-target-element="#login_dialog"></span>
          </li>
        </ol>
      </div>
    </nav>
    	<!-- END Navigation -->
    	<a href="#" class="sign-up">Subscribe</a>
		</div>	
	</div>
</header><!-- end header -->

<div class="actions">
	<a href="#" class="toggle-grid">Toggle grid</a>
	<a href="#" class="toggle-ads">Toggle adverts</a>
</div>