<script type="text/javascript">document.documentElement.className = document.documentElement.className.replace('no-js ','no-js').replace('no-js','');</script>
    <title>Rhapsody Media | UI Framework 1.0</title>
	<meta charset="utf-8">
	<meta content="" name="keywords">
  <meta content="" name="description">
	<!-- <meta name="viewport" content="width=device-width, maximum-scale=1.0" /> -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- CSS -->
	<link type="text/css" rel="stylesheet" href="assets/css/main.css">	
  <link type="text/css" rel="stylesheet" href="assets/css/print.css" media="print">

    <!-- Must live here to provide html5 shiv in IE8 -->
    <script src="assets/js/lib/single/modernizr-2.8.3.js"></script>

    <!--[if lt IE 9]>    	
		<script src="assets/js/lib/single/respond.min.js"></script>
	<![endif]-->

<!-- Start: GPT Async -->
<script type='text/javascript'>
	var gptadslots=[];
	var googletag = googletag || {};
	googletag.cmd = googletag.cmd || [];
	(function(){ var gads = document.createElement('script');
		gads.async = true; gads.type = 'text/javascript';
		var useSSL = 'https:' == document.location.protocol;
		gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
		var node = document.getElementsByTagName('script')[0];
		node.parentNode.insertBefore(gads, node);
	})();
</script>

<script type="text/javascript">
	googletag.cmd.push(function() {

		//Adslot 1 declaration
		gptadslots[1]= googletag.defineSlot('/4817/healthyfoodguide.co.uk', [[970,250],[940,250],[728,90]],'div-gpt-ad-leaderboard_top').setTargeting('pos',['top']).addService(googletag.pubads());

		//Adslot 2 declaration
		gptadslots[2]= googletag.defineSlot('/4817/healthyfoodguide.co.uk', [[300,600],[300,250]],'div-gpt-ad-mpu_top').setTargeting('pos',['top']).addService(googletag.pubads());

		//Adslot 3 declaration
		gptadslots[3]= googletag.defineSlot('/4817/healthyfoodguide.co.uk', [[300,251],[300,250]],'div-gpt-ad-middle').setTargeting('pos',['middle']).addService(googletag.pubads());

		//Adslot 4 declaration
		gptadslots[4]= googletag.defineSlot('/4817/healthyfoodguide.co.uk', [[300,252],[300,250]],'div-gpt-ad-mpu_bottom').setTargeting('pos',['bottom']).addService(googletag.pubads());
		

		//Adslot oop declaration
		gptadslots[0] = googletag.defineOutOfPageSlot('/4817/healthyfoodguide.co.uk', 'div-gpt-ad-oop').addService(googletag.pubads());

		googletag.pubads().enableSingleRequest();
		googletag.pubads().enableAsyncRendering();
		googletag.enableServices();
	});
</script>
<!-- End: GPT -->
	