.component.expert-tips {
	position: relative;

	.quote-wrapper {
		width: 66%;
		margin: 0 0 15px 0;
	}

	p {
		width: 66%;
	}

	.expert-quote {
		@extend .quote-text;
		font-size: 25px;
	  font-size: 2.5rem;
	  line-height: 27px;
	  line-height: 2.75rem;

	  &:before {
	  	font-size: 90px;
	  	line-height: 65px;
	  }

	  &:after {
	  	font-size: 90px;
	  	bottom: -10px;
	  }
	}

	img {
		position: absolute;
		right: 0;
		bottom: 0;
		max-width: 120px;
	}
}

@-moz-document url-prefix() { 
	.component.expert-tips .expert-quote {
		display: block;
		width: 100%;
	}
}

@media screen and (max-width: 480px) {
	.component.expert-tips {
		.quote-wrapper, p {
			width: 50%;
		}
		.quote-text {
			font-size: 22px;
			font-size: 2.2rem;
			line-height: 24px;
			line-height: 2.4rem;
		}

		.expert-quote {
			&:before {
				font-size: 80px;
				line-height: 55px;
			}

			&:after {
				font-size: 70px;
			}
		}
	}
}