.component.expert {
	position: relative;
	
	img {
		margin: 0 0 10px 0;
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		right: -12px;
		top: 0;
		height: 100%;
		width: 1px;
		border-left: 1px dotted #000;
	}
}

.row > .pane:first-child > .component.expert {
	&:before { border: 0; }
}

@media screen and (max-width: 767px) {
	.component.expert {
		img {
			float: left;
			margin: 0 10px 0 0;		
		}

		p {
			margin-right: 4%;
		}

		&:before {
			right: -0.4%;
		}
	}
}