.component {

	&.filters {
		border: 1px solid #a2cc3a;
		border-radius: 5px;
		margin-bottom: 9px;
		padding: 5px 5px 15px 5px;

		h3 {
			font-family: 'MuseoSansCond700';
			font-size: 13px;
			font-size: 1.3rem;
			line-height: 16px;
			line-height: 1.6rem;
			color: #8cb624;
			margin: 0 0 5px 0;
			padding: 0;
			border: 0;
			text-transform: uppercase;
		}

		li {
			padding-bottom: 3px;
		}

		.remove {
			display: inline-block;
			font-family: 'ElegantIcons';
			font-size: 15px;
			font-size: 1.5rem;
			color: #8cb624;
			padding: 0 4px 0 6px;
			vertical-align: middle;

			&:hover, &:active, &:focus {
				color: #ff9000;
			}
		}

		.filter {
			display: inline-block;
			font-size: 13px;
			font-size: 1.3rem;
		}
	}

	&.facets {
		.item {
			position: relative;
			border: 1px solid #a2cc3a;
			border-radius: 5px;
			padding: 10px 24px 6px 6px;
			display: block;
			color: #8cb624;
			font-family: 'MuseoSansCond700';
			font-size: 13px;
			font-size: 1.3rem;
			line-height: 16px;
			line-height: 1.6rem;
			text-transform: uppercase;
			letter-spacing: 1px;

			&:after {
				content: '3';
				font-family: 'ElegantIcons';
				font-size: 22px;
				font-size: 2.2rem;
				line-height: 26px;
				line-height: 2.6rem;
				position: absolute;
				right: 4px;
				top: 1px;
			}

			&:hover, &:active, &:focus, &.active {
				background-color: #a2cc3a;
				color: #fff;
			}
		}

		.sub-items {
			padding-left: 12px;
			padding-top: 15px;
		}
		.number {
			color: #999;

			&:before {
				content: ' '
			}
		}
	}
}