.component.grid-list-item {
	border-top: 1px dotted #000;
	padding: 10px 0;

	&:first-child {
		border-top: none;
		padding-top: 0;
	}

	p {
		font-size: 14px;
		font-size: 1.4rem;
		line-height: 18px;
		line-height: 1.8rem;
		padding-bottom: 30px;
	}

	.item-heading {
		display: block;
		font-family: 'MuseoSlab900';
		font-size: 18px;
		font-size: 1.8rem;
		line-height: 18px;
		line-height: 1.8rem;
		margin-bottom: 10px;
	}

	.author {
		color: #8cb624;
		text-transform: uppercase;
		font-family: 'MuseoSans300';
		font-size: 9px;
		font-size: .9rem;
		line-height: 16px;
		line-height: 1.6rem;
		padding-bottom: 0;

		strong {
			letter-spacing: .5px;
			letter-spacing: .05rem;
		}
	}

	.wrap {
		margin-bottom: 10px;

		&.infographics {
			margin-top: 10px;
		}

		&.bottom {
			position: absolute;
			bottom: 0;
			width: 100%;
		}
	}

	&.expert-list {
		position: relative;

		border-top: 0;
		border-bottom: 1px dotted #000;

		&:first-of-type {
			border-top: 1px dotted #000;
			padding-top: 10px;
		}

		.item-heading {
			color: #8cb624;

			&:hover, &:focus, &:active {
				color: #ff9000;
			}
		}

		.bttn {
			position: absolute;
			right: 0;
			bottom: 10px;
		}
	}

	&.blog {
		position: relative;

		.cal-label-border {
			top: -9px;
			width: 65px;
			min-height: 65px;
			font-size: 10px;
			font-size: 1rem;
			z-index: 1;

			&:after {
				width: 39px;
			}

			.cal-label {
				padding: 8px 5px 9px;
				font-family: 'MuseoSansCond900';
				text-transform: uppercase;
			}

			.day {
				font-size: 22px;
				font-size: 2.2rem;
			}
		}
	}

	&.qa {
		position: relative;

		.item-heading {
			margin-bottom: 4px;
		}

		.wrap {
			margin-bottom: 0;
			.comments {
				float: left;
			}

			.tags {
				float: right;
			}

			a[rel='tag'] {
				font-size: 10px;
        font-size: 1rem;
        color: #8cb624;
			}
		}
	}

	&.table {
		display: table;

		.pane {

			&:first-child {
				padding-left: 0;
			}

			display: table-cell;
			float: none;
			vertical-align: top;
			padding-left: 20px;
			position: relative;
		}
	}
}

@media all and (max-width: 480px) {
	.component.grid-list-item {
		.item-heading {
			font-size: 14px;
			font-size: 1.4rem;
			line-height: 14px;
			line-height: 1.4rem;
		}
		.wrap.info { display: none; }

		&.expert-list {
			.bttn {
				position: static;

			}
		}

	} 
}