.component.infobox {
	position: relative;

	h1, h2 {
		padding-top: 0;
		padding-bottom: 0;
		font-family: 'MuseoSansCond900';
		font-size: 42px;
    font-size: 4.2rem;
    line-height: 40px;
    line-height: 4rem;
    color: #fff;
	}

	.cta {
		position: relative;
	}

	.bttn {
		position: absolute;
		right: 0;
		bottom: 0;
		display: inline-block;
		background-color: transparent;
		color: #fff;
		border: 1px solid #fff;

		&:hover, &:focus, &:active {
			background-color: white;
			color: #becf00;
		}
	}

	&.v1 {
		background-color: #becf00;
	}

	&.v2 {
		background-color: #ff9000;
	}

	&.hero {
		.image-wrapper {
			text-align: center;
		}
		.image {
			position: relative;
			display: inline-block;
		}
		.thumbnail {
			position: absolute;
			left: 20px;
			top: 20px;
			vertical-align: bottom;

			img {
				display: inline-block;
				margin: 0 5px 0 0;
			}
			p {
				display: inline-block;
				font-size: 10px;
				font-size: 1rem;
				line-height: 10px;
				line-height: 1rem;
				max-width: 135px;
				text-align: left;
			}
		}

		.overlay {
			position: absolute;
			left: 20px;
			bottom: 20px;
			padding: 10px;
			background-color: #becf00;
			max-width: 355px;
			text-align: left;

			p {
				display: inline-block;
				margin-top: 12px;
				margin-bottom: 8px;
				font-family: 'MuseoSlab300';
				font-size: 15px;
		    font-size: 1.5rem;
		    line-height: 18px;
		    line-height: 1.8rem;
		    max-width: 240px;
		    margin-right: 32px;
		    padding-bottom: 0;
			}
		}
	}

	&.square {
		padding: 10px 10px 37px;
		min-height: 240px;

		h2 {
			font-family: 'MuseoSlab300';
			font-size: 36px;
			font-size: 3.6rem;
			line-height: 40px;
			line-height: 4rem;

		}

		p {
			display: inline-block;
			margin-top: 12px;
			margin-bottom: 8px;
			font-family: 'MuseoSlab300';
			font-size: 15px;
	    font-size: 1.5rem;
	    line-height: 18px;
	    line-height: 1.8rem;
	    max-width: 240px;
	    margin-right: 32px;
	    padding-bottom: 0;
		}

		.bttn {
			bottom: 10px;
			right: 10px;
		}
	}

	&.recipe-square {
		position: relative;
		margin-top: 10px;

		&:first-of-type {
			margin-top: 0;
		}

		.header {
			background-color: #bece2a;
			padding: 10px;

			h2 {
				font-family: 'MuseoSlab900';
				font-size: 18px;
				font-size: 1.8rem;
				line-height: 20px;
				line-height: 2rem;
				margin-bottom: 5px;
			}

			a {
				font-size: 11px;
				font-size: 1.1rem;
				line-height: 13px;
				line-height: 1.3rem;
				
			}
		}

		.icons {
			position: absolute;
			left: 15px;
			bottom: 8px;
		}

		&.v1 {
			.header {
				h2 {
					color: #000;
				}

				a {
					color: #fff;
				}
			}
		}

		&.v2 {
			.header {
				background-color: #fd9025;
			}
		}
	}

	&.list {
		border: 2px dotted #becf00;
		border-top: 2px solid #becf00;
		padding: 10px 10px 65px;

		h3 {
			border-top: none;
			border-bottom-style: dotted;
		}

		.bttn {
			bottom: 10px;
			right: 10px;
			border-color: #8cb624;
			color: #becf00;
		}

		.component.recipe-list-item {
			.info .item {
				font-family: 'MuseoSlab300';
				padding-bottom: 0;
			}
			.img {
				width: 60px;
				height: 56px;
			}
		}
	}

	&.homepage {

		h3 {
			border-bottom-style: dotted;
		}
		.image {
			float: left;
			margin: 0 10px 10px 0;
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			left: -10px;
			top: 0;
			height: 100%;
			width: 1px;
			border-left: 1px dotted #000;
		}

		&.full {
			.image {
				float: none;
				display: block;
				margin: 0 0 10px 0;

				img {
					margin: 0 auto;
				}
			}
		}
	}
}

.row > .pane:first-child > .component.infobox {
	&.homepage {
		&:before { border: 0; }
	}
}

@media all and (max-width: 767px) {
	.component.infobox {
		&.hero {
			img {
				margin: 0 auto;
			}
		}

		&.homepage {
			&:before {
				left: -4%;
			}
		}
	}
}

@media all and (max-width: 480px) {
	.component.infobox {
		&.hero {
			.overlay {
				left: 0;
				right: 0;
				bottom: 0;
				margin: 0;
				max-width: 100%;
			}

			h1 {
				font-size: 25px;
				font-size: 2.5rem;
				line-height: 25px;
				line-height: 2.5rem;
				text-align: center;
			}

			.cta {
				display: none;
			}
		}
	}
}