.component {
	&.popular-recipes {
		position: relative;
		padding: 20px;
		background: #fbfbf1;
		border: 2px dotted #becf00;
		border-top: 5px solid #becf00;

		h3 {
			border: 0;
			font-size: 22px;
			font-size: 2.2rem;
			line-height: 27px;
			line-height: 2.7rem;
			padding: 0 0 24px;
			margin: 0;
		}

		p {
			text-align: center;
			padding: 10px 15px 0;

			strong {
				font-family: 'MuseoSlab900';
				font-size: 13px;
				font-size: 1.3rem;
				line-height: 15px;
				line-height: 1.5rem;
			}
		}
	}
	.popular-recipe-item {
		img {
			@extend .border;
		}
	}
}
