.component.recipe-header {

	.img {
		width: 311px;

		.border {
		  position: absolute;
		  max-width: 312px;
		  top: -8px;
		}
	}

	.author {
		position: absolute;
		right: 0;
		bottom: 0;
		font-size: 0;

		img {
			display: inline-block;
			margin-bottom: -4px;
		}
		p {
			display: inline-block;
			width: 195px;
			text-align: right;
			margin-right: 20px;
			padding: 0;
		}
	}

	&.article {

		.wrap {
			&.details {
				padding-bottom: 30px;
			}		
		}


		.cal-label-border {
			width: 95px;
		}
		.cal-label {
			padding: 27px 15px 15px;
			font-size: 12px;
			font-size: 1.2rem;
			text-transform: uppercase;
		}
		.cal-label-border:after {
			width: 67px;
		}
	}
}

.component.recipe-body {
	h3 {
		display: inline-block;
		width: 100%;
		border-bottom-style: dotted;
	}

	ol li {
  	list-style-type: decimal;
  	list-style-position: inside;
  	color: #becf00;
  	font-family: 'MuseoSlab900';

  	span { 
  		color: #000;
  		font-family: 'MuseoSans300';
  	}
	}

	.question {
		margin-top: 15px;
		text-align: left;
	}

	.credit {
		float: left;
		color: #999999;
		width: 100%;
		margin-top: 40px;
		text-align: right;
		border-bottom: 1px solid #becf00;
		font-size: 10px;
		font-size: 1rem;
		line-height: 12px;
		line-height: 1.2rem;

		a {
			font-family: 'MuseoSans900';
			color: #8cb624;
		}
	}

	&.article-body {

		.credit {
			text-align: left;
			font-size: 13px;
			font-size: 1.3rem;
			line-height: 21px;
			line-height: 2.1rem;
			color: #333;
			border-bottom: 0;
			border-top: 1px solid #000;
			margin-top: 20px; 

			a {
				font-family: 'MuseoSans900';
				font-size: 13px;
				font-size: 1.3rem;
				line-height: 21px;
				line-height: 2.1rem;
				color: #8cb624;
			}
		}

		// rich text styles
			h1, h2, h3, h4, h5 ,h6 {
	      display: block;
	      padding: 0;
	      margin: 0;
	      text-align: left;
	    }

	    h2 {
	      font-family: 'MuseoSlab900';
	      font-size: 24px;
	      font-size: 2.4rem;
	      line-height: 20px;
	      line-height: 2rem;
	      color: #8cb624;
	    }

	    h3 {
	      font-family: 'MuseoSlab900';
	      font-size: 16px;
	      font-size: 1.6rem;
	      line-height: 20px;
	      line-height: 2rem;
	      color: #8cb624;
	      border: 0;

	      &.black {
	        color: #000;
	      }
	    }

	    h4 {
	      font-family: 'MuseoSlab900';
	      font-size: 14px;
	      font-size: 1.4rem;
	      line-height: 20px;
	      line-height: 2rem;
	    }

	    h5 {
	      font-family: 'MuseoSlab900';
	      font-size: 12px;
	      font-size: 1.2rem;
	      line-height: 16px;
	      line-height: 1.6rem;
	    }

	    h6 {
	      font-family: 'MuseoSlab300';
	      font-size: 18px;
	      font-size: 1.8rem;
	      line-height: 20px;
	      line-height: 2rem;
	      color: #8cb624;
	    }

	    p {
	      font-family: 'MuseoSlab300';
	      font-size: 14px;
	      font-size: 1.4rem;
	      line-height: 20px;
	      line-height: 2rem;
	      color: #333;

	      &.smaller {
	        font-size: 12px;
	        font-size: 1.2rem;
	        line-height: 16px;
	        line-height: 1.6rem;
	      }
	    }

	    .intro-text {
	      font-family: 'MuseoSlab300';
	      font-size: 26px;
	      font-size: 2.6rem;
	      line-height: 30px;
	      line-height: 3rem;
	      color: #8cb624;
	    }

	    .quote-text {
			  font-family: 'MuseoSlab900';
			  font-size: 35px;
			  font-size: 3.5rem;
			  line-height: 37px;
			  line-height: 3.75rem;
			  color: #becf00;
			  display: inline;
			  padding-left: 22px;
			  padding-right: 30px;
			  position: relative;
			}

	    img {
	      @extend .border;
	      margin: 16px auto 16px;

	      &.left {
	        margin: 0 16px 16px 16px;
	        margin-left: 0; 
	      }
	      &.right {
	        margin: 0 16px 16px;
	        margin-right: 0; 
	      }
	    }

	    table {
	      width: 100%;
	      max-width: 100%;
	      margin-bottom: 20px;
	      text-align: center;
	      border-bottom: 1px solid #000;

	      > caption {
	      	display: none;
	      }

	      > thead {
	        > tr > th { 
	          font-family: 'MuseoSansCond700';
	          font-size: 14px;
	          font-size: 1.4rem;
	          line-height: 17px;
	          line-height: 1.7rem;
	          padding: 8px;
	          color: #fff;
	          background: #8cb624;
	          text-transform: uppercase;
	          border: 1px solid #8cb624;

	          &:first-of-type {
	            border-radius: 5px 0 0 0;
	          }
	          &:last-of-type {
	            border-radius: 0 5px 0 0;
	          }
	        }
	      }
	      >tbody {
	        > tr {
	          
	          &:last-child {
	            td { border: 0; }
	          }

	          > td {
	            font-family: 'MuseoSans300';
	            font-size: 12px;
	            font-size: 1.2rem;
	            line-height: 26px;
	            padding: 4px;
	            line-height: 2.6rem;
	            border-bottom: 1px solid #ccc;

	            &:first-of-type {
	              font-family: 'MuseoSansCond900'; 
	            }
	          }
	        }
	      }
	    }
    .col {
		  float: left;
		  width: 48.4%;
		  margin-left: 3.2%;
		  margin-bottom: 20px;

		  &:nth-child(even){
		    margin-left: 0;
		  }
		}
	}
}

.nutrition-panel {
	display: block;
	float: left;
	width: 100%;
	margin: 40px 0 0;
	padding: 15px 10px;
	border: 1px solid #30b0ce;
	background: url(/assets/img/structure/bg-nutrition-panel.jpg) repeat left top transparent;

	h3 {
		border: 0;
		color: #30b0ce;
		padding-top: 0;
		padding-bottom: 10px;
	}

	.info {
		text-align: center;
	}
}

.column:first-child { margin-left: 0; }

@media all and (max-width: 1023px) {
	.component.recipe-header {
		.img {
			width: 279px;

			.border {
				max-width: 279px;
			}
		}

		.author {
			img {
				display: none;
			}
		}
	}

}

@media all and (max-width: 767px) {
	.component.recipe-header {
		.img {
			width: 100%;

			.border {
				position: relative;
				margin: 0 auto;
				margin-bottom: -28px;
				top: -28px;
			}
		}

		.wrap {
			&.details {
				text-align: center;
				border-right: 0;
			}
			&.action {
				float: none;
				display: block;
				border: 0;

				.buttons, .social {
					float: none;
					display: block;
					text-align: center;
				}
				.social {
					display: none;
					margin-top: 13px;
				}
				.share { display: inline-block; }
			}

			&.info {
				.ratings, .comments, .serving, .prep, .cook {
					line-height: 24px;
					line-height: 2.4rem;
				}
			}
		}

		&.article {
			.wrap {
				&.details {
					padding-bottom: 0; 
				}
				&.info {
					margin: 0;
					display: block;
				}
			}

			.author {
				position: static;
				display: block;

				p {
					width: auto;
					text-align: center;
				}
			}
		}
	}

	.component.recipe-body {
		h3 {
			border: 0;
			padding: 15px 0;
			margin: 0;
			text-align: center;
			color: #8cb624;
			cursor: pointer;
			border: 1px solid #becf00;
			border-top:0;

			&.first {
				border-top: 1px solid;
			}

			&.active {
				background-color: #becf00;
				color: #fff;
			}
		}

		&.article-body {
			.column {
				margin-left: 4%;
			}

			table caption {
	        display: block;
	        text-align: right;
	        font-family: MuseoSlab300;
	    }

	    table {
	        display: block;
	        width: 100%;
	        text-align: left;
	        border-bottom: 0;
	    }

	    table th,table td {
	        margin: 0;
	        vertical-align: top;
	        display: block;
	        text-align: left;
	        border-left: 0
	    }

	    table thead {
	        display: block;
	        float: left
	    }

	    table thead tr {
	        display: block
	    }

	    table > thead > tr > th:last-of-type {
	        border-radius: 0 0 0 5px;
	    }

	    table tbody {
	        display: block;
	        overflow-x: auto;
	        position: relative;
	        width: auto;
	        white-space: nowrap
	    }

	    table tbody tr {
	        display: inline-block;
	        vertical-align: top;
	        margin-right: -2px
	    }
	    table>tbody>tr:last-child td {
	    	border-bottom: 1px solid #ccc;
	    }
		}

		.nutrition-panel {
			margin: 0;
			padding: 0;
			background: none;
			border: none;

			h3 {
				color: #8cb624;

				&.active {
					background-color: #becf00;
					color: #fff;
				}
			}

			.question {
				text-align: center;
			}
		}

		.credit {
			text-align: center;
		}
	}

	.panel {
		display: none;
		padding: 20px;
		border: 1px solid #becf00;
		background-color: #f8f9eb;
	}
}

@media all and (max-width: 480px) {
	.component.recipe-body {
		&.article-body {
			img {
				&.left, &.right {
					float: none;
					margin: 0 auto 16px;
				}
			}

			.pull-out, .col {
				float: none;
				width: 100%;
				margin: 0 0 16px;
			}
		}
	}

}