.component.recipe-header {

	strong {
		font-family: 'MuseoSans900';
	}
	.img {
		width: 311px;

		.border {
			position: absolute;
			max-width: 312px;
			top: -8px;
			background-color: #fff;
			padding: 10px;
			box-shadow: 0px 0px 12px 0px rgba(138,138,0,0.55);
		}
	}

	.cal-label-border {
		position: absolute;
		left: -9px;
		top: -22px;
		width: 90px;
		min-height: 85px;
		text-align: center;
		background: #becf00;
		border-radius: 70px;
		font-size: 15px;
		font-size: 1.5rem;
		line-height: 14px;
		line-height: 1.4rem;
		transform: translate(0) rotate(-15deg);

		&:after {
			content: '';
			position: absolute;
			top: -2px;
			left: 13px;
			width: 64px;
			height: 100%;
			background: url(/assets/img/structure/label-recipe.png) no-repeat top center transparent;
			background-size: contain;
		}

		.cal-label {
			border-radius: 70px;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: 2px;
			padding: 24px 5px 9px;
			word-wrap: break-word;
			background-color: white;
			word-break: break-all;
		}

		.cals {
			font-family: 'MuseoSansCond900';
			font-size: 20px;
			font-size: 2.0rem;
			line-height: 18px;
			line-height: 1.8rem;
			margin-top: 5px;
			display: inline-block;

		}
	}

	.wrap {
		&.details {
			position: relative;
			background: url(/assets/img/structure/bg-recipe-panel.jpg) repeat left top transparent;
			border: 1px solid #becf00;
			border-top-width: 5px;
			border-left: none;
			padding-bottom: 60px;
		}

		&.info {
			font-size: 11px;
			font-size: 1.1rem;
			line-height: 13px;
			line-height: 1.3rem;

			.ratings, .comments, .serving, .prep, .cook {
				margin-left: 10px;

				&:before {
					color: #becf00;
					margin-right: 5px;
					font-size: 16px;
					font-size: 1.6rem;
				}

				&:first-child {
					margin-left: 0;
				}
			}
			.ratings:before {
				color: #ff9000;
			}
		}
		&.infographics {
			font-size: 0;
			margin-top: 20px;

			.infographic {
				margin-left: 10px;
				&:first-child {
					margin-left: 0;
				}
			}
		}

		&.action {
			float: right;
			margin: 13px 0 0 0;
			padding-bottom: 13px;
			border-bottom: 1px dotted black;
			
			.bttn {
				float: left;
				margin-left: 10px;
				&:first-child {
					margin-left: 0;
				}
				.icon:before {
					font-size: 16px;
					font-size: 1.6rem;
				}
			}
			.social {
				float: right;
			}
		}
	}
}

.component.recipe-body {
	h3 {
		display: inline-block;
		width: 100%;
	}

	ol li {
  	list-style-type: decimal;
  	list-style-position: inside;
  	color: #becf00;

  	span { color: #000; }
	}

	.credit {
		display: block;
		text-align: right;
		border-bottom: 1px solid #becf00;
	}
}

.nutrition-panel {
	display: block;
	float: left;
	width: 100%;
	padding: 15px;
	border: 1px solid #30b0ce;
	background: url(/assets/img/structure/bg-nutrition-panel.jpg) repeat left top transparent;

	h3 {
		border: none;
		color: #30b0ce;
		padding-top: 0;
	}
}






