.component.recipe-header {
	.img {
		width: 311px;

		.border {
			position: absolute;
			max-width: 312px;
			top: -8px;
			background-color: #fff;
			padding: 10px;
			box-shadow: 0px 0px 12px 0px rgba(138,138,0,0.55);
		}
	}

	.wrap {

		&.details {
			position: relative;
			background-color:#fbfcf3;
			border: 1px solid #becf00;
			border-top-width: 5px;
			border-left: none;
			padding-bottom: 60px;
		}
		&.action {
			float: right;
			border-bottom: 1px dotted black;
			padding-bottom: 10px;
			.bttn {
				display: inline-block;
			}
		}
	}
}