.component.tabs {

	.article {
		position: relative;
		display: none;

		&.active {
			display: block;
		}

		&.grid {
			padding-top: 20px;
			border-top: 2px solid #a2cc3a;
		}

		&.diet {
			border: 1px solid #a2cc3a;
			border-top-width: 2px;
			padding: 35px 15px 15px 25px;
			position: absolute;
			top: 40px;
			width: 100%;

			p {
				font-size: 14px;
				font-size: 1.4rem;
				line-height: 22px;
				line-height: 2.2rem;
			}

			em {
				font-style: normal;
				color: #8cb624;
			}

			.heading {
				color: #8cb624;
				margin-top: 10px;

				&:first-child {
					margin-top: 0;
				}

				strong {
					letter-spacing: 0
				}
			}

			.featured-recipes {
				float: left;
				margin-left: 20px;
				width: 185px;

				h3 {
					border-bottom: 0;
				}

				.component {
					margin-top: 20px;

					&:first-of-type {
						margin-top: 0;
					}
				}

				img {
					@extend .border;
					margin: 0 auto;
				}
			}

			.cal-label-border {
				left: auto;
				right: -20px;
				top: -40px;
				min-height: 94px;
				min-width: 95px;
				transform: translate(0) rotate(15deg);

				&:after {
					width: 68px;
				}

				.cal-label {
					padding: 30px 5px 23px;
				}
			}
		}

		&.profile {
			border: 1px solid #a2cc3a;
			border-top-width: 2px;
			background-color: #f9faee;
			padding: 45px 35px 15px;
			position: absolute;
			top: 40px;
			width: 100%;

			h2 {
				padding-bottom: 35px;
			}

			label {
				display: block;
				font-family: 'MuseoSans900';
				font-size: 14px;
				font-size: 1.4rem;
				line-height: 16px;
				line-height: 1.6rem;
			}

			.infographic {
				width: auto;
				height: auto;
				margin-left: 5px;
				font-size: 23px;
				font-size: 2.3rem;
				color: #a2cc3a;
				vertical-align: bottom;
			}

			input {
				&[type='text'], &[type='email'], &[type='password'] {
					width: 300px;
				}
			}

			textarea {
				width: 300px;
			}

			.selector, .selector span {
				width: 300px;
			}

			select {
				width: 300px;
			}

			.profile-pic {
				font-size: 0;
				width: 328px;
				min-width: 230px;
				position: relative;

				img {
					display: inline-block;
					max-width: 82px;
					border-radius: 5px;
					border: 1px solid #a2cc3a;
				}

				.upload {
					position: absolute;
					right: 0;
					bottom: 0;
				}

				.bttn {
					display: inline-block;
					vertical-align: bottom;
				}
			}

			.row-action {
				.bttn {
					display: inline-block;
				}
			}

			.user-avatar {
				float: left;
				img { width: 48px; height: 48px; }
			}
				.post-title { 
					font-family: 'MuseoSans900';
					padding-left: 78px;
					font-size: 13px;
					font-size: 1.3rem;
					line-height: 16px;
					line-height: 1.6rem;
				}

				.comment-author {
					padding-left: 31px;
					display: inline-block;
					font-family: 'MuseoSans900';
					font-size: 13px;
					font-size: 1.3rem;
					line-height: 16px;
					line-height: 1.6rem;
					color: #8cb624;
					margin-right: 3px;
				}

				.comment-date { 
					display: inline-block;	
					font-size: 13px;
					font-size: 1.3rem;
					line-height: 16px;
					line-height: 1.6rem;
				}
				.comment-content { 
					padding-left: 78px; 
					font-size: 13px;
					font-size: 1.3rem;
					line-height: 16px;
					line-height: 1.6rem;
					margin-bottom: 30px;

			}

		}
	}

	.nav {

		width: 100%;
		border-bottom: 1px solid #a2cc3a;
		position: relative;

		.tab-item {
			float: left;
			padding: 13px 10px 9px;
			background-color: #fff;
			color: #a2cc3a;
			border: 1px solid #a2cc3a;
			border-left: 0;
			border-bottom: 0;
			font-family: 'MuseoSansCond700';
			font-size: 13px;
			font-size: 1.3rem;
			line-height: 16px;
			line-height: 1.6rem;
			letter-spacing: 1px;
			letter-spacing: .1rem;
			text-transform: uppercase;

			&:hover, &:focus, &:active {
				background-color: #ff9000;
				color: #fff;
			}

			&.active {
				background-color: #a2cc3a;
				color: #fff;
				cursor: default;
			}

			&:first-child {
				border-radius: 5px 0 0 0;
				border-left: 1px solid;
			}
			&:last-child {
				border-radius: 0 5px 0 0;
			}

			.number {
				font-family: 'MuseoSans300';
				font-size: 13px;
				font-size: 1.3rem;
				line-height: 15px;
				line-height: 1.5rem;
				color: #333;
			}

			+ .article {
				display: none;

				&.active {
					display: block;
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.component.tabs {
		height: auto!important;

		.article {

			&.diet {
				padding: 45px 10px 15px;
				border-bottom: 0;
				position: static;
			}
			
			&.profile {
				padding: 45px 10px 15px;
				border-bottom: 0;
				position: static;


				input {
					&[type='text'], &[type='email'], &[type='password'] {
						width: 85%;
					}
				}

				textarea {
					width: 85%;
				}

				.selector, .selector span {
					width: 85%;
				}

				select {
					width: 100%;
				}

				.profile-pic {
					width: 89%;
				}

				.row-action {
					text-align: center;
				}
			}

			&.diet {
				.cal-label-border {
					display: none;
				}
			}
		}

		&.desktopOnly {

			.sections {
				display: none;
			}

			.nav {
				position: static;
				.tab-item {

					&:first-child {
						border-left: 1px solid #a2cc3a;
						border-radius: 0;
					}

					display: block;
					float: none;
					border-radius: 0;
					border-left: 1px solid;

					&.active {
						cursor: pointer;

						+ .article {
							//display: block!important;
							opacity: 1!important;
						}
					}
				}
			}
		}
	}
}