.component.tabs {

	.nav {

		width: 100%;
		border-bottom: 1px solid #becf00;

		.tab-item {
			float: left;
			padding: 13px 12px 9px;
			background-color: #fff;
			color: #becf00;
			border: 1px solid #becf00;
			border-left: 0;
			border-bottom: 0;
			font-family: 'MuseoSansCond700';
			font-size: 13px;
			font-size: 1.3rem;
			line-height: 16px;
			line-height: 1.6rem;
			letter-spacing: 1px;
			letter-spacing: .1rem;
			text-transform: uppercase;

			&:hover, &:focus, &:active {
				background-color: #ff9000;
				color: #fff;
			}

			&.active {
				background-color: #becf00;
				color: #fff;
				cursor: default;
			}

			&:first-child {
				border-radius: 5px 0 0 0;
				border-left: 1px solid;
			}
			&:last-child {
				border-radius: 0 5px 0 0;
			}
		}
	}
	
	.article {
		position: relative;
		display: none;

		&.active {
			display: block;
		}

		&.profile {
			border: 1px solid #becf00;
			border-top-width: 2px;
			background-color: #f9faee;
			padding: 45px 35px 15px;

			h2 {
				padding-bottom: 35px;
			}

			label {
				display: block;
				font-family: 'MuseoSans900';
				font-size: 14px;
				font-size: 1.4rem;
				line-height: 16px;
				line-height: 1.6rem;
			}

			.infographic {
				width: auto;
				height: auto;
				margin-left: 5px;
				font-size: 23px;
				font-size: 2.3rem;
				color: #becf00;
				vertical-align: middle;
			}

			input {
				&[type='text'], &[type='email'], &[type='password'] {
					width: 300px;
				}
			}

			.selector, .selector span {
				width: 300px;
			}

			select {
				width: 300px;
			}

			.profile-pic {
				font-size: 0;

				img {
					display: inline-block;
					max-width: 82px;
					margin-right: 100px;
					border-radius: 5px;
					border: 1px solid #becf00;
				}

				.bttn {
					display: inline-block;
					vertical-align: bottom;
				}
			}

		}
	}
}