
<!DOCTYPE html>
<!--[if lt IE 7]>     <html class="no-js ie ltie10 ltie9 ltie8 ltie7 ie6" lang="en"> <![endif]-->
<!--[if IE 7]>        <html class="no-js ie ltie10 ltie9 ltie8 gtie6 gtie5 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>        <html class="no-js ie ltie10 ltie9 gtie7 gtie6 gtie5 ie8" lang="en"> <![endif]-->
<!--[if IE 9]>        <html class="no-js ie ltie10 gtie8 gtie7 gtie6 gtie5 ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
    <script type="text/javascript">document.documentElement.className = document.documentElement.className.replace('no-js ','no-js').replace('no-js','');</script>
    <title>Rhapsody Media | UI Framework 1.0</title>
	<meta charset="utf-8">
	<meta content="" name="keywords">
    <meta content="" name="description">

	<meta name="viewport" content="width=device-width, maximum-scale=1">

	<link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- CSS -->
	<link type="text/css" rel="stylesheet" href="/assets/css/main.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/print.css" media="print">

    <!-- Must live here to provide html5 shiv in IE8 -->
    <script src="/assets/js/lib/single/modernizr-2.8.3.js"></script>

    <!--[if lt IE 9]>    	
		<script src="assets/js/lib/single/respond.min.js"></script>
	<![endif]-->
</head>

<body class="framework">
<div><a href="#skipnav" class="skip">Skip to main content</a></div>
<div class="actions">
	<a href="#" class="toggle-grid">Toggle grid</a>
	<a href="#" class="toggle-grid-type">Toggle gutters</a>
</div>
<div class="wrapper">
	<header>
	<div class="row">
		<div class="pane base12">
				
				<p>Header</p>
			
		</div>
	</div>
</header><!-- end header -->
	<div class="main">
	    <a id="skipnav" tabindex="-1"></a>


		<div class="row">
			<div class="pane base12 component-header">

				<!-- START: COMPONENT DETAILS -->
				<h2>Component: Carousel</h2>

				<p><strong>Description:</strong> Responsive carousel.</p>
				<!-- END: COMPONENT DETAILS -->

			</div><!-- .pane -->
		</div>
		
		<div class="row">
			<div class="pane base12">

				<div id="" class="component carousel owl-carousel cf">
					<div class="item darkCyan">
	                  <img src="/assets/img/components/carousel/touch.png" alt="Touch">
	                    <h3>Touch</h3>
	                    <h4>Can touch this</h4>
	                </div>
	                <div class="item forestGreen">
	                  <img src="/assets/img/components/carousel/grab.png" alt="Grab">
	                    <h3>Grab</h3>
	                    <h4>Can grab this</h4>
	                </div>
	                <div class="item orange">
	                  <img src="/assets/img/components/carousel/responsive.png" alt="Responsive">
	                    <h3>Responsive</h3>
	                    <h4>Fully responsive!</h4>
	                </div>

	                <div class="item yellow">
	                  <img src="/assets/img/components/carousel/css3.png" alt="CSS3">
	                    <h3>CSS3</h3>
	                    <h4>3D Acceleration.</h4>
	                </div>

	                <div class="item dodgerBlue">
	                  <img src="/assets/img/components/carousel/multi.png" alt="Multi">
	                    <h3>Multiply</h3>
	                    <h4>Owls on page.</h4>
	                </div>

	                <div class="item skyBlue">
	                  <img src="/assets/img/components/carousel/modern.png" alt="Modern Browsers">
	                    <h3>Modern</h3>
	                    <h4>Browsers Compatibility</h4>
	                </div>

	                <div class="item zombieGreen">
	                  <img src="/assets/img/components/carousel/zombie.png" alt="Zombie Browsers - old ones">
	                    <h3>Zombie</h3>
	                    <h4>Browsers Compatibility</h4>
	                </div>

	                <div class="item violet">
	                  <img src="/assets/img/components/carousel/controls.png" alt="Take Control">
	                    <h3>Take Control</h3>
	                    <h4>The way you like</h4>
	                </div>

	                <div class="item yellowLight">
	                  <img src="/assets/img/components/carousel/feather.png" alt="Light">
	                    <h3>Light</h3>
	                    <h4>As a feather</h4>
	                </div>

	                <div class="item steelGray">
	                  <img src="/assets/img/components/carousel/tons.png" alt="Tons of Opotions">
	                    <h3>Tons</h3>
	                    <h4>of options</h4>
	                </div>
				</div><!-- .carousel -->
				
			</div>
		</div><!-- .row -->

	</div><!-- #main -->
		<footer>
    	<div class="row">
    		<div class="pane base12">
			
				<div class="component cf">
			
				<p>&copy; Rhapsody Media 2014</p>

                <p>Version: UI Framework 1.0</p>
				
				</div>

    		</div>
    	</div>
    </footer><!-- footer -->
</div><!-- #wrapper -->

	<script type="text/javascript" src="/assets/js/lib.min.js"></script>
	<script type="text/javascript" src="/assets/js/framework.min.js"></script>
	<script type="text/javascript" src="/assets/js/components.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
 
		  $(".owl-carousel").owlCarousel({
		  	navigation: true,
		  	navigationText: ["prev","next"],
        	scrollPerPage: true,
        	loop: true,
        	responsiveRefreshRate: 50,
        	responsive: {
	          0: {
	            items: 1
	          },
	          568: {
	          	items: 2
	          },
	          768: {
	          	items: 3
	          },
	          1024: {
	            items: 4
	          }
        	}
		  });
		 
		});
	</script>
    </body>
</html>