<div class="component recipe-list-item articles cf">
	<ul>
		<li class="cf">
			<a href="#">
				<div class="img">
					<img src="assets/img/components/recipe_list_item/recipe-image.jpg" alt="recipe image">
				</div>
				<div class="wrap info">
					<p class="item">Chorizo sweet potato enchiladas</p>
					<a href="#" class="comments" data-icon="">2 comments</a>
				</div>
			</a>
		</li>
		<li class="cf">
			<a href="#">
				<div class="img">
					<img src="assets/img/structure/recipe-header-hero.jpg" alt="recipe image">
				</div>
				<div class="wrap info">
					<p class="item">Chorizo sweet potato enchiladas</p>
					<a href="#" class="comments" data-icon="">2 comments</a>
				</div>
			</a>
		</li>
		<li class="cf">
			<a href="#">
				<div class="img">
					<img src="assets/img/structure/logo.png" alt="recipe image">
				</div>
				<div class="wrap info">
					<p class="item">Portuguese-style Chorizo</p>
					<a href="#" class="comments" data-icon="">2 comments</a>
				</div>
			</a>
		</li>
	</ul>
</div>