<div class="component recipe-body article-body cf">

		<p class="intro-text">
			Type 2 diabetes is at crisis level, but the one in three of us can still avoid developing the full-blown condition through simple diet changes.
		</p>
		<br><br>
		<h2>Maintain a healthy body weight</h2>
		<br><br>
		<p>Eating a balanced, healthy diet plays an important role in reducing your risk. Fight unwanted weight gain by controlling your portions and keeping fat and sugar intakes in check. Matching the amount of calories in the food you eat with the amount of energy you use through daily is to maintaining a healthy weight. Tip The most successful and sustainable way to lose weight, </p>
		<br><br>
		<p class="quote-text">Five million of us are predicted to develop diabetes by 2025</p>
		<br><br>
		<h3>Eat as if you live in the med</h3>
		<br><br>
		<img src="assets/img/structure/image.jpg" alt="Eu varius id, posuere sed nisi. Donec hendrerit metus nec ante semper." class="right">
		<p>Up the fish, nuts and healthy oils. Recent findings show you could reduce your risk of diabetes if you eat a diet high in vegetables, oil-rich fish (such as trout, mackerel, salmon and fresh tuna), wholegrains, nuts and olive oil, and low in red meat and sugary cakes. Up the fish, nuts and healthy oils. Recent findings show you could reduce your risk of diabetes if you eat.</p>
		<br><br>
		<h3>Maintain a healthy body weight</h3>
		<br><br>
		<h3 class="black">Maintain a healthy body weight</h3>
		<p>Every three minutes, someone learns they have diabetes. It’s a serious and lifelong condition that can lead to devastating health complications if you don’t manage it well. It can make you go blind or lose a limb, cause your kidneys to fail or trigger a heart attack or stroke. Base meals around veg so they make up at least a third of your plate. Vary the colours to get all their different health benefits.</p>
		<br><br>
		<h4>The harsh reality</h4>
		<p>Every three minutes, someone learns they have diabetes. It’s a serious and lifelong condition that can lead to devastating health complications if you don’t manage it well. It can make you go blind or lose a limb, cause your kidneys to fail or trigger a heart attack or stroke. Every three minutes, someone learns they have diabetes. It’s a serious and lifelong condition that can lead to devastating health complications if you don’t manage it well. It can make you go blind or lose a limb, cause your kidneys to fail or trigger a heart attack or stroke Up the fish, nuts and healthy oils. Recent findings show you could reduce your risk of diabetes if you eat a diet high in vegetables, oil-rich fish (such as trout, mackerel, salmon and fresh tuna), wholegrains, nuts and olive oil, and low in red meat and sugary cakes. </p>

		<img src="assets/img/structure/image-large.jpg" alt="Eu varius id, posuere sed nisi. Donec hendrerit metus nec ante semper.">

		<div class="col">
			<h5>Love your veg</h5>
			<p class="smaller">
				Base meals around veg so they make up at least a third of your plate. Vary the colours to get all their different health benefits. Tip Pop a new type of vegetable into your trolley each week to use in stir-fries and curries.
			</p>
		</div>

		<div class="col">
			<h5>The harsh reality</h5>
			<p class="smaller">
				Every three minutes, someone learns they have diabetes. It’s a serious and lifelong condition that can lead to devastating health complications if you don’t manage it well. It can make you go blind or lose a limb, cause your kidneys.
			</p>
		</div>

		<div class="pull-out green">
			
		</div>
		
		<h6>Example Table</h6>
		<br>
		<table>
        <thead>
          <tr>            
            <th>Vegetable</th>
            <th>Calories</th>
            <th>Protein</th>
            <th>Fat</th>
            <th>Sugar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Meat</td>
            <td>390kcal</td>
            <td>10.9g</td>
            <td>1.8g</td>
            <td>11.6g</td>
          </tr>
          <tr>
            <td>Meat</td>
            <td>390kcal</td>
            <td>10.9g</td>
            <td>1.8g</td>
            <td>11.6g</td>
          </tr>
          <tr>
            <td>Meat</td>
            <td>390kcal</td>
            <td>10.9g</td>
            <td>1.8g</td>
            <td>11.6g</td>
          </tr>
          <tr>
            <td>Meat</td>
            <td>390kcal</td>
            <td>10.9g</td>
            <td>1.8g</td>
            <td>11.6g</td>
          </tr>
          <tr>
            <td>Meat</td>
            <td>390kcal</td>
            <td>10.9g</td>
            <td>1.8g</td>
            <td>11.6g</td>
          </tr>
        </tbody>
      </table>


	<p class="credit">Topics <a href="#">Diabetic</a>, <a href="#">Crisis</a>, <a href="#">low fat diet</a>, <a href="#">nuts</a></p>
</div>