<div class="component breadcrumb">
						<!-- Breadcrumb NavXT 5.2.0 -->
<span typeof="v:Breadcrumb">
	<a rel="v:url" property="v:title" title="Go to Home." href="http://134.213.146.151/healthyfoodguide" class="home">Home</a>
</span> &gt; 
<span typeof="v:Breadcrumb">
	<a rel="v:url" property="v:title" title="Go to the Condition category archives." href="http://134.213.146.151/healthyfoodguide/?cat=253" class="taxonomy category">Condition
	</a>
</span> &gt; 
<span typeof="v:Breadcrumb">
	<a rel="v:url" property="v:title" title="Go to the menopause category archives." href="http://134.213.146.151/healthyfoodguide/?cat=905" class="taxonomy category">menopause
	</a>
</span> &gt; 
<span typeof="v:Breadcrumb">
	<span property="v:title">Eat well for the<br>menopause</span></span>					
</div> 