<div class="component recipe-header article cf">
	<div class="wrap details cf">
		<div class="pane base4 tp4 ml12 img">
			&nbsp;
			<div class="border">
				<img src="assets/img/components/competitions/nutribullet.jpg" alt="Product">
				<div class="cal-label-border">
					<div class="cal-label">
							<span class="day">14</span> Jan 2015
					</div>
				</div>
			</div>
		</div>
		<div class="pane base8 tp8 ml12 ml-mgZero">
			<h1><strong>Win</strong> a Nutribullet 12 Piece Set and Book</h1>
			<div class="wrap info">
				<a href="#" class="comments" data-icon="">2 comments</a>
			</div>
			<div class="author">
				<p>By <strong>Tracy Kelly</strong> Registered dietitian and clinicaladviser at Diabetes UK</p>
				<img src="assets/img/structure/av-tracy-kelly.png">
			</div>
		</div>
	</div>
	<div class="wrap action cf">
		<div class="pane base8 tp8 ml12">
			<div class="buttons cf">
				<a href="#" class="bttn primary">
					<span class="icon" data-icon=""></span>
					Print
				</a>
				<a href="#" class="bttn primary share slide-down" data-target-element=".recipe-header .social">
					<span class="icon" data-icon=""></span>
					Share
				</a>
			</div>
			<div class="social cf">
				<a href="#" class="social-icon social_facebook"></a>
				<a href="#" class="social-icon social_twitter"></a>
				<a href="#" class="social-icon social_googleplus"></a>
				<a href="#" class="social-icon social_pinterest"></a>
				<a href="#" class="social-icon icon_mail"></a>
			</div>
		</div>
	</div>
</div>