<div class="component recipe-body article-body competition cf">

	<p class="intro-text">
		Make delicious, nutritious smoothies with the Nutrition Extractor everyone’s raving about!
	</p>
	<p>The secret of the NUTRiBULLET is its powerful 600 watt motor combined with bullet cyclonic action that forces everything through the turbo extractor blades at an incredible 20,000 RPM, breaking down and pulverising  stems, seeds and skins where some of the usually neglected essential nutrition lies.</p>

	<p><strong>Five winners</strong> will each receive a NUTRiBULLET 12 piece set, which completely breaks down ingredients into a pulp free, delicious smoothie.</p>

	<p>To enter, make sure your details below are correct, then choose an answer to the question:</p>
	<br><br>

	<div class="pull-out green">
		<p>
			Please <a href="http://google.com">log in</a> to enter this competition.
		</p>
	</div>

	<form id="comp">
		<div class="row">
			<label for="username">Username:</label>
			<input id="username" name="username" placeholder="" type="text" value="juliette_kellow">
			<a href="#" class="infographic help icon_question_alt" title="Your username will appear next to any comments you make on the site. Spaces are allowed; punctuation is not allowed."></a>
		</div>
		<div class="row">
			<label for="email">Email:</label>
			<input id="email" name="Email" placeholder="" type="email" value="juliette.kellow@eyetoeyemedia.co.uk">
			<a href="#" class="infographic help icon_question_alt" title="Please make sure you're contactable at this address so we can notify you as quickly as possible in the event of a win!"></a>
		</div>

		<div class="row">
			<label for="lastName">Question: <span class="question">Who won the 2014 Formula 1 World Championship?</span></label>
			<select class="uniform">
				<option selected>Choose an answer</option>
				<option>Lewis Hamilton</option>
				<option>Fernando Alonso</option>
				<option>Nigel Mansell</option>
			</select>
		</div>
		<div class="row row-action">
			<input type="submit" class="bttn primary" value="Enter!">
		</div>
	</form>
</div>