<div class="pane base5 tp7 ml12">
	<p class="heading"><strong>Breakfast</strong> 337kcal</p>
	<p><em>1 serving coconut milk and seed porridge.</em> Plus 1 small glass orange juice</p>

	<p class="heading">Snack 183kcal</p>
	<p>30g unsalted almonds</p>

	<p class="heading">Lunch 439kcal</p>
	<p><em>Salad made from 8tbsp cooked bulgur wheat</em>, 1⁄2 chopped red onion, 5 cherry tomatoes, fresh mint and parsley and 1⁄2 small tin pink salmon, tossed with 1tsp olive oil, a squeeze lemon juice and ground black pepper</p>

	<p class="heading">Snack 180kcal</p>
	<p>1 banana and a 125g pot fat-free fruit yogurt</p>

	<p class="heading">Dinner 358kcal</p>
	<p>1 serving sweet and sour pork with noodles</p>
</div>

<div class="featured-recipes tablet cf">
	<h3>Featured Recipes</h3>
	<!--(bake /templates/components/_popular-recipe-list-item.html)-->
	<!--(bake /templates/components/_popular-recipe-list-item.html)-->
</div>

<div class="cal-label-border">
	<div class="cal-label">
			total <span class="cals">1410kcal</span>
	</div>
</div>