<div class="component filters">
	<h3>Filters</h3>
	<ul>
		<li><a href="#" class="remove">M</a><span class="filter">Low cal</span></li>
		<li><a href="#" class="remove">M</a><span class="filter">High protien</span></li>
		<li><a href="#" class="remove">M</a><span class="filter">1 of 5-A-Day</span></li>
	</ul>
</div>

<div class="component facets">
	<ul>
		<li>
			<a class="item" href="#" class="">Occasion</a>
			<ul class="sub-items">
				<li><a href="#">Birthday <span class="number">(362)</span></a></li>
				<li><a href="#">Christmas <span class="number">(159)</span></a></li>
				<li><a href="#">Easter <span class="number">(184)</span></a></li>
				<li><a href="#">Anniversary <span class="number">(257)</span></a></li>
				<li><a href="#">Halloween <span class="number">(231)</span></a></li>
			</ul>
		</li>
		<li>
			<a class="item" href="#">Ingredients</a>
		</li>
		<li>
			<a class="item" href="#">Dishes</a>
		</li>
		<li>
			<a class="item" href="#">Nutrition/Diet</a>
			<ul class="sub-items">
				<li><a href="#">Low cal <span class="number">(362)</span></a></li>
				<li><a href="#">Low fat <span class="number">(159)</span></a></li>
				<li><a href="#">Low sats <span class="number">(184)</span></a></li>
				<li><a href="#">Low sugar <span class="number">(257)</span></a></li>
				<li><a href="#">Low salt <span class="number">(231)</span></a></li>
				<li><a href="#">High fibre <span class="number">(56)</span></a></li>
				<li><a href="#">High protein <span class="number">(45)</span></a></li>
				<li><a href="#">High calcium <span class="number">(58)</span></a></li>
				<li><a href="#">High iron <span class="number">(56)</span></a></li>
				<li><a href="#">Vegetarian <span class="number">(10)</span></a></li>
				<li><a href="#">Gluten free <span class="number">(56)</span></a></li>
				<li><a href="#">Dairy free <span class="number">(56)</span></a></li>
				<li><a href="#">1 of 5-A-Day <span class="number">(242)</span></a></li>
				<li><a href="#">2 of 5-A-Day <span class="number">(121)</span></a></li>
				<li><a href="#">3 of 5-A-Day <span class="number">(32)</span></a></li>
				<li><a href="#">4 of 5-A-Day <span class="number">(22)</span></a></li>
				<li><a href="#">5 of 5-A-Day <span class="number">(21)</span></a></li>
			</ul>
		</li>
		<li>
			<a class="item" href="#">Time</a>
		</li>
		<li>
			<a class="item" href="#">Serves</a>
		</li>
		<li>
			<a class="item" href="#">Rating</a>
		</li>
	</ul>
</div>