<div class="component grid-list-item qa table cf">
	<div class="pane">
		<p class="author">By <strong>Rebecca almond</strong>, senior sub editor</p>
		<a href="#" class="item-heading">How can I walk away from my sugar cravings?</a>
		<p>In the October issue of Healthy Food Guide (out today!) we give you the ultimate collection of guilt-free comfort puddings. Sounds too good to...</p>
		<div class="wrap info bottom cf">
			<a href="#" class="comments" data-icon="">2 comments</a>
			<ul class="tags cf">
				<li><a href="#">Cholesterol</a></li> 
				<li><a href="#">IBS</a></li>
				<li><a href="#">Juliette Kellow</a></li>
			</ul>
		</div>
	</div>
</div>