<div class="component grid-list-item qa blog table cf">
	<div class="pane base2 tp3">
		<div class="cal-label-border">
			<div class="cal-label">
				<span class="day">5</span> Jan 2014
			</div>
		</div>
		<img src="assets/img/components/recipe_list_item/chicken.jpg" alt="">
	</div>
	<div class="pane base4 tp6">
		<p class="author">By <strong>Rebecca almond</strong>, senior sub editor</p>
		<a href="#" class="item-heading">How to make courgetti</a>
		<p>By Hannah Sherwood Struggling to get your five-a-day? Try this nifty way of using cheap, cheerful and seasonal courgettes in….</p>
		<div class="wrap info bottom cf">
			<a href="http://134.213.146.151/healthyfoodguide/?p=2371#comments" class="comments" data-icon="">
			2 comments</a>
		</div>
	</div>
</div>