<div class="component grid-list-item cf">
	<div class="pane base2 tp3">
		<img src="assets/img/components/recipe_list_item/chicken.jpg" alt="">
	</div>
	<div class="pane base4 tp6">
		<a href="#" class="item-heading">Tuna with roasted tomatoes</a>
		<div class="wrap info">
			<span class="ratings" data-rating="4.5" data-icon="">(22 ratings)</span>
		</div>
		<div class="wrap info">
			<span class="serving" data-icon="">Serves <strong>6</strong></span>
			<span class="prep" data-icon="">Prep <strong>15 min</strong></span>
			<span class="cook" data-icon="">Cook <strong>3 1/2 hr</strong></span>
		</div>
		<div class="wrap infographics">
			<a href="#" class="infographic low-cal" title="This is a low calorie dish"></a>
			<a href="#" class="infographic low-fat" title="This dish is low in fat."></a>
			<a href="#" class="infographic low-sugar" title="Only 20% of your RDA"></a>
		</div>
	</div>
</div>