<div class="component grid-list-item expert-list cf">
	<div class="pane base2 tp3 ml3">
		<img src="assets/img/components/recipe_list_item/chicken.jpg" alt="">
	</div>
	<div class="pane base6 tp9 ml6">
		<a href="#" class="item-heading">Juliette Kellows</a>
		<p>HFG primary nutrition consultant. She’s a registered dietitian who’s worked in the NHS and the food industry. Passionate about food, she believes healthy eating can also be delicious.</p>
		<a href="#" class="bttn">Read articles</a>
	</div>
</div>