<div class="component grid-list-item qa blog table cf">
	<div class="pane base2 tp3">
		<div class="cal-label-border">
			<div class="cal-label">
				<span class="day">5</span> Jan 2014
			</div>
		</div>
		<img src="assets/img/components/recipe_list_item/chicken.jpg" alt="">
	</div>
	<div class="pane base4 tp6">
		<p class="author">By <strong>Rebecca almond</strong>, senior sub editor</p>
		<a href="#" class="item-heading">Low-fat gluten-free pudding recipes</a>
		<p>In the October issue of Healthy Food Guide (out today!) we give you the ultimate collection of guilt-free comfort puddings. Sounds too good to...</p>
		<div class="wrap info bottom cf">
			<a href="#" class="comments" data-icon="">2 comments</a>
			<ul class="tags cf">
				<li><a href="#">Cholesterol</a></li> 
				<li><a href="#">IBS</a></li>
				<li><a href="#">Juliette Kellow</a></li>
			</ul>
		</div>
	</div>
</div>