<div id="home-hero-carousel" class="component owl-carousel home-hero cf">

	<div class="item cf">
		<div class="row">
			<div class="pane base6 tp8 ml12">
				<!--(bake /templates/components/_infobox-hero.html)-->
			</div>
			<div class="pane base3 tp4 tablet">
				<!--(bake /templates/components/_infobox-square-v1.html)-->
				<!--(bake /templates/components/_infobox-square-v2.html)-->
			</div>
			<div class="pane base3 desktop">
				<!--(bake /templates/components/_infobox-list.html)-->
			</div>
		</div>
	</div>

	<div class="item cf">
		<div class="row">
			<div class="pane base6 tp8 ml12">
				<!--(bake /templates/components/_infobox-hero.html)-->
			</div>
			<div class="pane base3 tp4 tablet">
				<!--(bake /templates/components/_infobox-square-v1.html)-->
				<!--(bake /templates/components/_infobox-square-v2.html)-->
			</div>
			<div class="pane base3 desktop">
				<!--(bake /templates/components/_infobox-list.html)-->
			</div>
		</div>
	</div>

	<div class="item cf">
		<div class="row">
			<div class="pane base6 tp8 ml12">
				<!--(bake /templates/components/_infobox-hero.html)-->
			</div>
			<div class="pane base3 tp4 tablet">
				<!--(bake /templates/components/_infobox-square-v1.html)-->
				<!--(bake /templates/components/_infobox-square-v2.html)-->
			</div>
			<div class="pane base3 desktop">
				<!--(bake /templates/components/_infobox-list.html)-->
			</div>
		</div>
	</div>

	<div class="item cf">
		<div class="row">
			<div class="pane base6 tp8 ml12">
				<!--(bake /templates/components/_infobox-hero.html)-->
			</div>
			<div class="pane base3 tp4 tablet">
				<!--(bake /templates/components/_infobox-square-v1.html)-->
				<!--(bake /templates/components/_infobox-square-v2.html)-->
			</div>
			<div class="pane base3 desktop">
				<!--(bake /templates/components/_infobox-list.html)-->
			</div>
		</div>
	</div>

</div>