<div class="component infobox hero">
	<div class="image-wrapper">
		<div class="image">
			<div class="thumbnail">
				<img src="assets/img/components/infobox-hero/thumb.jpg" alt="">
				<p>By <strong>Tracy Kelly</strong> Registered dietitian and clinicaladviser at Diabetes UK</p>
			</div>
			<img src="assets/img/components/infobox-hero/hero.jpg" alt="" class="hero-image">
			<div class="overlay">
				<h1>Diet changes to lower your risk of diabetes</h1>
				<div class="cta cf">
					<p><strong>Six steps to adapting your diet</strong></p>
					<a href="#" class="bttn secondary">More</a>
				</div>
			</div>
		</div>
	</div>
</div>