<div class="component recipe-body cf">
	<div class="pane base4">
		<h3>Ingredients</h3>

		<ul>
			<li>200g chorizo, roughly chopped</li>
			<li>1 red onion, chopped</li>
			<li>2 red peppers, chopped</li>
			<li>3 carrots, chopped</li>
			<li>1 large leek, chopped</li>
			<li>150g red lentils, rinsed</li>
			<li>420g tin cannellini beans in water, drained</li>
			<li>1tsp smoked paprika</li>
			<li>750ml hot reduced-salt chicken stock</li>
			<li>Fresh fatleaf parsley sprigs, to garnish</li>
			<li>6tbsp reduced-fat soured cream</li>
			<li>6 slices wholegrain bread, to serve</li>
		</ul>
	</div>
	<div class="pane base4">
		<h3>Method</h3>

		<p>
			<ol>
			<li><span class="content">Preheat the slow cooker. Add all the ingredients except for the parsley, soured cream and bread. Pour over 750ml boiling water, stir to combine, then cook for 2 hr on high or 31⁄2 hr on low.</span></li>
			<li><span class="content">Switch off the cooker, then use a stick blender to blend the mixture until almost smooth (add more water for a thinner soup).</span></li>
			<li><span class="content">Serve garnished with parsley, topped with soured cream and a sprinkle of ground black pepper, with the bread on the side.</span></li>
		</ol>
		</p>
	</div>

	<div class="nutrition-panel cf">
		<h3>Nutrition per serving</h3>
	</div>
	<p class="credit">Recipe by <strong>Sarah Swain</strong>. Photography by <strong>Devin Hart</strong></p>
</div>