<div class="component recipe-header cf">
	<div class="wrap details cf">
		<div class="pane base4 ml12 img">
			&nbsp;
			<div class="border">
				<img src="assets/img/structure/recipe-header-hero.jpg" alt="Product">
				<span class="cal">
					around 500kcal each
				</span>
			</div>
		</div>
		<div class="pane base8 ml12">
			<h2>Chorizo &amp; Lentil Soup</h2>
			<div class="wrap info">
				<span class="ratings" data-rating="4.5">(22 ratings)</span>
				<span class="comments">2 comments</span>
				<span class="serving">Serves 6</span>
				<span class="prep">Prep 15 min</span>
				<span class="cook">Cook 3 1/2 hr</span>
			</div>
			<div class="wrap info">
				<span class="infograpic low-cal"></span>
				<span class="infograpic low-cal"></span>
				<span class="infograpic low-cal"></span>
				<span class="infograpic low-cal"></span>
				<span class="infograpic low-cal"></span>
				<span class="infograpic low-cal"></span>
			</div>
		</div>
	</div>
	<div class="wrap action">
		<div class="pane base8 ml12">
			<a href="#" class="bttn primary">
				<span class="icon icon_print"></span>
				Print
			</a>
			<a href="#" class="bttn primary">
				<span class="icon icon_save"></span>
				Save
			</a>
			<div class="social">
				<a href="#" class="social-icon social_facebook"></a>
				<a href="#" class="social-icon social_twitter"></a>
				<a href="#" class="social-icon social_plus"></a>
				<a href="#" class="social-icon social_pinterest"></a>
				<a href="#" class="social-icon social_email"></a>
			</div>
		</div>
	</div>
</div>