<div class="component recipe-header cf">
	<div class="wrap details cf">
		<div class="pane base4 tp4 ml12 img">
			&nbsp;
			<div class="border">
				<img src="assets/img/structure/recipe-header-hero.jpg" alt="Product">
				<div class="cal-label-border">
					<div class="cal-label">
							around <span class="cals">500kcal</span> each

					</div>
				</div>
			</div>
		</div>
		<div class="pane base8 tp8 ml12 ml-mgZero">
			<h1>Chorizo &amp; Lentil Soup</h1>
			<div class="wrap info">
				<span class="ratings" data-rating="4.5" data-icon="">(22 ratings)</span>
				<a href="#" class="comments" data-icon="">2 comments</a>
				<span class="serving" data-icon="">Serves <strong>6</strong></span>
				<span class="prep" data-icon="">Prep <strong>15 min</strong></span>
				<span class="cook" data-icon="">Cook <strong>3 1/2 hr</strong></span>
			</div>
			<div class="wrap infographics">
				<a href="#" class="infographic low-cal" title="This is a low calorie dish"></a>
				<a href="#" class="infographic low-fat" title="This dish is low in fat."></a>
				<a href="#" class="infographic low-sugar" title="Only 20% of your RDA"></a>
				<a href="#" class="infographic low-salt" title="Contains a low amount of salt"></a>
				<a href="#" class="infographic high-fibre" title="This recipe is high in fibre."></a>

				<a href="#" class="infographic high-protein" title="At least 20% of the calories come from protein."></a>
				<a href="#" class="infographic low-sats" title="This is a low sats dish"></a>
				<a href="#" class="infographic high-calc" title="This dish is high in calcium."></a>
				<a href="#" class="infographic high-iron" title="High in iron"></a>
				<a href="#" class="infographic veg" title="Suitable for vegetarian"></a>
				<a href="#" class="infographic gluten-free" title="This recipe is gluten free."></a>
				<a href="#" class="infographic dairy-free" title="Dairy free."></a>

				<a href="#" class="infographic oneaday" title="One a day."></a>
				<a href="#" class="infographic twoaday" title="Two a day."></a>
				<a href="#" class="infographic threeaday" title="Three a day."></a>
				<a href="#" class="infographic fouraday" title="Four a day."></a>
				<a href="#" class="infographic fiveaday" title="Five a day."></a>
			</div>
		</div>
	</div>
	<div class="wrap action cf">
		<div class="pane base8 tp8 ml12">
			<div class="buttons cf">
				<a href="#" class="bttn primary">
					<span class="icon" data-icon=""></span>
					Print
				</a>
				<a href="#" class="bttn primary save-recipe">
					<span class="icon" data-icon=""></span>
					Save
				</a>
				<a href="#" class="bttn primary share slide-down" data-target-element=".recipe-header .social">
					<span class="icon" data-icon=""></span>
					Share
				</a>
			</div>
			<div class="social cf">
				<a href="#" class="social-icon social_facebook"></a>
				<a href="#" class="social-icon social_twitter"></a>
				<a href="#" class="social-icon social_googleplus"></a>
				<a href="#" class="social-icon social_pinterest"></a>
				<a href="#" class="social-icon icon_mail"></a>
			</div>
		</div>
	</div>
</div>