<div class="component recipe-list-item cf">
	<ul>
		<li class="cf">
			<div class="img">
				<img src="assets/img/components/recipe_list_item/recipe-image.jpg" alt="recipe image">
			</div>
			<div class="info">
				<p class="item">Butter Bean &amp Chorizo Stew with Tomatoes</p>
				<span class="ratings" data-rating="3.5" data-icon=""></span>
			</div>
		</li>
		<li class="cf">
			<div class="img">
				<img src="assets/img/structure/recipe-header-hero.jpg" alt="recipe image">
			</div>
			<div class="info">
				<p class="item">Chorizo sweet potato enchiladas</p>
				<span class="ratings" data-rating="3" data-icon=""></span>
			</div>
		</li>
		<li class="cf">
			<div class="img">
				<img src="assets/img/structure/logo.png" alt="recipe image">
			</div>
			<div class="info">
				<p class="item">Portuguese-style Chorizo</p>
				<span class="ratings" data-rating="3" data-icon=""></span>
			</div>
		</li>
	</ul>
</div>