<div class="component recipe-header cf">
	<div class="wrap details cf">
		<div class="pane base4 tp4 ml12 img">
			&nbsp;
			<div class="border">
				<img src="assets/img/structure/recipe-header-hero.jpg" alt="Product">
				<div class="cal-label-border">
					<div class="cal-label">
							around <span class="cals">500kcal</span> each

					</div>
				</div>
			</div>
		</div>
		<div class="pane base8 tp8 ml12 ml-mgZero">
			<h1>Chorizo &amp; Lentil Soup</h1>
			<p class="sf">Eating a balanced, healthy diet plays an important role in reducing your risk.</p>
			<div class="wrap info">
				<span class="ratings" data-rating="4.5" data-icon="">(22 ratings)</span>
				<a href="#" class="comments" data-icon="">2 comments</a>
				<span class="serving" data-icon="">Serves <strong>6</strong></span>
				<span class="prep" data-icon="">Prep <strong>15 min</strong></span>
				<span class="cook" data-icon="">Cook <strong>3 1/2 hr</strong></span>
			</div>
			<div class="wrap infographics">
				<a href="#" class="infographic low-cal" title="450kcal or less for a main course; 300kcal or less for breakfast; and 150kcal or less for a starter, snack, drink or dessert"></a>
				<a href="#" class="infographic low-fat" title="3g fat or less per 100g"></a>
				<a href="#" class="infographic low-sugar" title="5g sugar or less per 100g"></a>
				<a href="#" class="infographic low-salt" title="0.3g salt or less per 100g"></a>
				<a href="#" class="infographic high-fibre" title="At least 6g fibre per 100g or 3g fibre per 100kcal"></a>

				<a href="#" class="infographic high-protein" title="At least 20% of the calories come from protein."></a>
				<a href="#" class="infographic low-sats" title="1.5g saturates or less per 100g"></a>
				<a href="#" class="infographic high-calc" title="At least 30% of the RDA per serving"></a>
				<a href="#" class="infographic high-iron" title="At least 30% of the RDA per serving"></a>
				<a href="#" class="infographic veg" title="Vegetarian"></a>
				<a href="#" class="infographic gluten-free" title="Free from cereals containing gluten"></a>
				<a href="#" class="infographic dairy-free" title="Free from dairy products and ingredients that include dairy products"></a>

				<a href="#" class="infographic oneaday" title="The number of portions of fruit and/or veg contained in a serving"></a>
				<a href="#" class="infographic twoaday" title="The number of portions of fruit and/or veg contained in a serving"></a>
				<a href="#" class="infographic threeaday" title="The number of portions of fruit and/or veg contained in a serving"></a>
				<a href="#" class="infographic fouraday" title="The number of portions of fruit and/or veg contained in a serving"></a>
				<a href="#" class="infographic fiveaday" title="The number of portions of fruit and/or veg contained in a serving"></a>
			</div>
		</div>
	</div>
	<div class="wrap action cf">
		<div class="pane base8 tp8 ml12">
			<div class="buttons cf">
				<a href="#" class="bttn primary" onclick="window.print();">
					<span class="icon" data-icon=""></span>
					Print
				</a>
				<a href="#" class="bttn primary save-recipe">
					<span class="icon" data-icon=""></span>
					Save
				</a>
				<a href="#" class="bttn primary share slide-down" data-target-element=".recipe-header .social">
					<span class="icon" data-icon=""></span>
					Share
				</a>
			</div>
			<div class="social cf">
				<a href="#" class="social-icon social_facebook"></a>
				<a href="#" class="social-icon social_twitter"></a>
				<a href="#" class="social-icon social_googleplus"></a>
				<a href="#" class="social-icon social_pinterest"></a>
				<a href="#" class="social-icon icon_mail"></a>
			</div>
		</div>
	</div>
</div>