<div id="home-hero-carousel" class="component owl-carousel home-hero cf">

	<div class="item cf">
		<div class="row">
			<div class="pane base9 tp12 ml12">
				<!--(bake /templates/components/_infobox-hero-recipe.html)-->
			</div>
			<div class="pane base3 desktop">
				<!--(bake /templates/components/_infobox-square-recipe-v1.html)-->
				<!--(bake /templates/components/_infobox-square-recipe-v2.html)-->
			</div>
		</div>
	</div>

	<div class="item cf">
		<div class="row">
			<div class="pane base9 tp12 ml12">
				<!--(bake /templates/components/_infobox-hero-recipe.html)-->
			</div>
			<div class="pane base3 desktop">
				<!--(bake /templates/components/_infobox-square-recipe-v1.html)-->
				<!--(bake /templates/components/_infobox-square-recipe-v2.html)-->
			</div>
		</div>
	</div>

	<div class="item cf">
		<div class="row">
			<div class="pane base9 tp12 ml12">
				<!--(bake /templates/components/_infobox-hero-recipe.html)-->
			</div>
			<div class="pane base3 desktop">
				<!--(bake /templates/components/_infobox-square-recipe-v1.html)-->
				<!--(bake /templates/components/_infobox-square-recipe-v2.html)-->
			</div>
		</div>
	</div>

	<div class="item cf">
		<div class="row">
			<div class="pane base9 tp12 ml12">
				<!--(bake /templates/components/_infobox-hero-recipe.html)-->
			</div>
			<div class="pane base3 desktop">
				<!--(bake /templates/components/_infobox-square-recipe-v1.html)-->
				<!--(bake /templates/components/_infobox-square-recipe-v2.html)-->
			</div>
		</div>
	</div>

</div>