<div class="component tabs">
	<div class="nav cf">
		<a class="active" href="#">Most popular</a>
		<a href="#">Most Discussed</a>
		<a href="#">Latest</a>
		<a href="#">Best Rated</a>
	</div>

	<div class="sections">
		<div class="article active">
			<!--(bake /templates/components/_recipe-list-item.html)-->
		</div>
		<div class="article">
			<!--(bake /templates/components/_recipe-list-item.html)-->
			<!--(bake /templates/components/_recipe-list-item.html)-->
		</div>
		<div class="article">
			<!--(bake /templates/components/_recipe-list-item.html)-->
		</div>
		<div class="article">
			<!--(bake /templates/components/_recipe-list-item.html)-->
			<!--(bake /templates/components/_recipe-list-item.html)-->
		</div>
	</div>
</div>