
<!DOCTYPE html>
<!--[if lt IE 7]>     <html class="no-js ie ltie10 ltie9 ltie8 ltie7 ie6" lang="en"> <![endif]-->
<!--[if IE 7]>        <html class="no-js ie ltie10 ltie9 ltie8 gtie6 gtie5 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>        <html class="no-js ie ltie10 ltie9 gtie7 gtie6 gtie5 ie8" lang="en"> <![endif]-->
<!--[if IE 9]>        <html class="no-js ie ltie10 gtie8 gtie7 gtie6 gtie5 ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js takeover-active" lang="en"><!--<![endif]-->
<head>
	<!--(bake /templates/structure/html-header.html)-->
</head>

<body>
<div><a href="#skipnav" class="skip">Skip to main content</a></div>

<div class="ad-top takeover">
	<img src="/hfg/assets/img/structure/bg-leaderboard.png" alt="Advert">
</div>
<div class="ad-left takeover"></div>

	<div id="wrapper" class="wrapper">

		<!--(bake /templates/structure/header.html)-->

			<div class="main off-area">
			    <a id="skipnav" tabindex="-1"></a>

			    <div class="row margin">
						<div class="pane base12">
							<!--(bake /templates/components/_breadcrumb.html)-->
						</div>
					</div><!-- .row -->

			    <div class="row">
							<!--(bake /templates/components/_article-header.html)-->
					</div><!-- .row -->

					<div class="row tp-margin ml-margin mp-margin">
						<div class="pane base8 tp12 ml12">
							<div class="component owl-carousel master-carousel cf">
								<div class="item cf">
									<img src="http://lorempixel.com/650/650/food/1">
									<div class="component infobox hero">
										<div class="overlay">
											<h1>Diet changes to lower your risk of diabetes</h1>
											<div class="cta cf">
												<p><strong>Six steps to adapting your diet</strong></p>
												<a href="http://google.com"><span class="bttn secondary">More</span></a>
											</div>
										</div>
									</div>
								</div>
								<div class="item cf">
									<img src="http://lorempixel.com/650/650/food/2">
									<div class="component infobox hero">
										<div class="overlay">
											<h1>Diet changes to lower your risk of diabetes</h1>
											<div class="cta cf">
												<p><strong>Six steps to adapting your diet</strong></p>
												<a href="http://google.com"><span class="bttn secondary">More</span></a>
											</div>
										</div>
									</div>
								</div>
								<div class="item cf">
									<img src="http://lorempixel.com/650/650/food/3">
									<div class="component infobox hero">
										<div class="overlay">
											<h1>Diet changes to lower your risk of diabetes</h1>
											<div class="cta cf">
												<p><strong>Six steps to adapting your diet</strong></p>
												<a href="http://google.com"><span class="bttn secondary">More</span></a>
											</div>
										</div>
									</div>
								</div>
								<div class="item cf">
									<img src="http://lorempixel.com/650/650/food/4">
									<div class="component infobox hero">
										<div class="overlay">
											<h1>Diet changes to lower your risk of diabetes</h1>
											<div class="cta cf">
												<p><strong>Six steps to adapting your diet</strong></p>
												<a href="http://google.com"><span class="bttn secondary">More</span></a>
											</div>
										</div>
									</div>
								</div>
								<div class="item cf">
									<img src="http://lorempixel.com/650/650/food/5">
									<div class="component infobox hero">
										<div class="overlay">
											<h1>Diet changes to lower your risk of diabetes</h1>
											<div class="cta cf">
												<p><strong>Six steps to adapting your diet</strong></p>
												<a href="http://google.com"><span class="bttn secondary">More</span></a>
											</div>
										</div>
									</div>
								</div>
								<div class="item cf">
									<img src="http://lorempixel.com/650/650/food/6">
									<div class="component infobox hero">
										<div class="overlay">
											<h1>Diet changes to lower your risk of diabetes</h1>
											<div class="cta cf">
												<p><strong>Six steps to adapting your diet</strong></p>
												<a href="http://google.com"><span class="bttn secondary">More</span></a>
											</div>
										</div>
									</div>
								</div>
								<div class="item cf">
									<img src="http://lorempixel.com/650/650/food/7">
									<div class="component infobox hero">
										<div class="overlay">
											<h1>Diet changes to lower your risk of diabetes</h1>
											<div class="cta cf">
												<p><strong>Six steps to adapting your diet</strong></p>
												<a href="http://google.com"><span class="bttn secondary">More</span></a>
											</div>
										</div>
									</div>
								</div>
								<div class="item cf">
									<img src="http://lorempixel.com/650/650/food/8">
									<div class="component infobox hero">
										<div class="overlay">
											<h1>Diet changes to lower your risk of diabetes</h1>
											<div class="cta cf">
												<p><strong>Six steps to adapting your diet</strong></p>
												<a href="http://google.com"><span class="bttn secondary">More</span></a>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="component owl-carousel slave-carousel cf">
								<div class="item cf">
									<img src="http://lorempixel.com/650/650/food/1">
								</div>
								<div class="item cf">
									<img src="http://lorempixel.com/650/650/food/2">
								</div>
								<div class="item cf">
									<img src="http://lorempixel.com/650/650/food/3">
								</div>
								<div class="item cf">
									<img src="http://lorempixel.com/650/650/food/4">
								</div>
								<div class="item cf">
									<img src="http://lorempixel.com/650/650/food/5">
								</div>
								<div class="item cf">
									<img src="http://lorempixel.com/650/650/food/6">
								</div>
								<div class="item cf">
									<img src="http://lorempixel.com/650/650/food/7">
								</div>
								<div class="item cf">
									<img src="http://lorempixel.com/650/650/food/8">
								</div>
							</div>
							<!--(bake /templates/components/_article-body.html)-->

							<div class="component popular-recipes related-articles">
								<h3>Related Articles</h3>
								<div id="related-articles" class="component owl-carousel body cf">
									
									<div class="item cf">
										<!--(bake /templates/components/_popular-recipe-list-item.html)-->
									</div>

									<div class="item cf">
										<!--(bake /templates/components/_popular-recipe-list-item.html)-->
									</div>

									<div class="item cf">
										<!--(bake /templates/components/_popular-recipe-list-item.html)-->
									</div>

									<div class="item cf">
										<!--(bake /templates/components/_popular-recipe-list-item.html)-->
									</div>

									<div class="item cf">
										<!--(bake /templates/components/_popular-recipe-list-item.html)-->
									</div>

									<div class="item cf">
										<!--(bake /templates/components/_popular-recipe-list-item.html)-->
									</div>
								</div>
							</div>

						</div>
						<div class="pane base4 tp12 ml12 tp-mgZero aside">
							<!--(bake /templates/components/_mpu.html)-->
							<h3>Similar Articles</h3>
							<!--(bake /templates/components/_article-list-item.html)-->
							<a href="#" class="bttn secondary">More Articles</a>
							<!--(bake /templates/components/_mpu.html)-->
							<h3 class="no-border">Popular Articles</h3>
							<div class="component tabs">
								<div class="nav cf">
									<a class="tab-item active" href="#">Most popular</a>
									<a class="tab-item" href="#">Most Discussed</a>
								</div>

								<div class="sections">
									<div class="article active">
										<!--(bake /templates/components/_article-list-item.html)-->
									</div>
									<div class="article">
										<!--(bake /templates/components/_article-list-item.html)-->
										<!--(bake /templates/components/_article-list-item.html)-->
									</div>
								</div>
							</div>
							<a href="#" class="bttn secondary">More Articles</a>
						</div>
							
					</div><!-- .row -->


		</div><!-- .main -->
		<div class="push"></div> <!-- For sticky footer -->

		<!-- Login popup  -->
		<div id="login-dialog" class="dialog">
			<div class="login-dialog">
				<form>
					<div class="row">
						<label for="username">Username or Email: <span class="small">(required)</span></label>
						<input class="" id="username" name="username" placeholder="" type="text" value="">
					</div>
					<div class="row">
						<label for="password">Password: <span class="small">(required)</span></label>
						<input class="" id="password" name="password" placeholder="" type="password" value="">
					</div>

					<div class="row">
						<a href="#" class="forgotten-password">Forgotten your password?</a>
					</div>

					<div class="row">
						<div class="error-message"><strong>ERROR</strong>: Invalid username. <a href="http://134.213.146.151/healthyfoodguide/wp-login.php?action=lostpassword" title="Password Lost and Found">Lost your password?</a>
						</div>
					</div>

					<div class="row">
						<input type="submit" class="bttn primary" value="Sign in">
					</div>
				</form>
			</div>
		</div>

				<!-- Forgotten password popup  -->
		<div id="forgotten-password-dialog" class="dialog">
			<div class="forgotten-password-dialog">
				<form>
					<div class="row">
						<p>Please enter your username or email address. You will receive a link to create a new password via email.</p>
					</div>
					<div class="row">
						<label for="username">Username or Email: <span class="small">(required)</span></label>
						<input class="" id="username" name="username" placeholder="" type="text" value="">
					</div>
					<div class="row">
						<input type="submit" class="bttn primary" value="Get New Password">
					</div>
				</form>
			</div>
		</div>

		<!-- Signed in popup  -->
		<div id="signed-in-dialog" class="dialog">
			<div class="signed-in-dialog">
				<form>
					<div class="row">
						<ul>
							<li><a href="#">Profile</a></li>
							<li><a href="#">Recipes</a></li>
							<li><a href="#">Articles</a></li>
							<li><a href="#">Diet Planners</a></li>
							<li><a href="#">Comments</a></li>
							<li><a href="#">Newsletters</a></li>
						</ul>	
					</div>

					<div class="row">
						<input type="submit" class="bttn primary" value="Sign out">
					</div>
				</form>
			</div>
		</div>

		<!-- Save recipe popup  -->
		<div id="save-recipe-dialog" class="dialog">
			<div class="save-recipe-dialog">
				<div class="row">
					<p>Saved to your recipes.</p>
				</div>
				<div class="row">
					<a href="#" class="bttn primary">More on nutrition</a>
				</div>
			</div>
		</div>

	</div><!-- .wrapper -->
	<div class="ad-right takeover"></div>

	<!--(bake /templates/structure/footer.html)-->

	<script type="text/javascript">
	'use strict';

		$(document).ready(function() {

			var $this = $(this);

			$this.on('click', 'a.tooltipstered', function (ev) {
				ev.preventDefault();
			});

			$this.on('focus', '.infographic', function () {
				$(this).tooltipster('show');
			});

			$this.on('blur', '.infographic', function () {
				$(this).tooltipster('hide');
			});

			var $sync1 = $(".master-carousel"),
					$sync2 = $(".slave-carousel"),
					flag = false,
					duration = 300,
					numOfThumbs = 6;

				$sync1.owlCarousel({
					items: 1,
					margin: 0,
					nav: true,
					dots: false
				})
				.on('changed.owl.carousel', function (e) {
					if (!flag) {
						flag = true;
						$sync2
							.trigger('to.owl.carousel', [e.item.index, duration, true])
								.find('.owl-item').removeClass('current').eq(e.item.index).addClass('current');
						flag = false;
					}
				});

				$sync2.on('initialized.owl.carousel', function () {
					$(this).find('.owl-item').eq(0).addClass('current');
				})

				$sync2.owlCarousel({
					margin: 20,
					nav: true,
					dots: true,
					slideBy: numOfThumbs,
					loop: false,
					responsive: {
				    0: {
			        items: 3,
			        slideBy: 3
				    },
				    480: {
				    	items: 4,
			        slideBy: 4
				    },
				    768: {
				    	items: numOfThumbs,
			        slideBy: numOfThumbs
				    }
					}
				})
				.on('click', '.owl-item', function () {
					$sync1.trigger('to.owl.carousel', [$(this).index(), duration, true]);
				});

		  $('#related-articles').owlCarousel({
				nav: true,
				margin: 6,
				responsive: {
			    0: {
		        items: 1,
		        slideBy: 1
			    },
			    480: {
			    	items: 2,
		        slideBy: 2
			    },
			    768: {
			    	items: 3,
		        slideBy: 3
			    }
				},
		  	onTranslated: function (e) {
		  		var o = e.target,
		  				getItems = $(o).find('.owl-item'),
		  				getActive = $(o).find('.active'),
		  				activeLength = getActive.length;

		  		$(getItems).removeClass('first last');
		  		$(getActive).eq(0).addClass('first');
		  		$(getActive).eq((activeLength - 2)).addClass('last');
		  	}
		  });

			//For save recipe button
      $('.save-recipe').tooltipster({
          trigger: 'click',
          contentAsHTML: true,
          interactive: true,
          position: 'bottom-left',
          offsetX: 20,
          functionInit: function() {
	        	return $('#save-recipe-dialog').html();
			    }
      });

    	// For login
      $('.log-in, .login-mob').tooltipster({
          trigger: 'click',
          contentAsHTML: true,
          interactive: true,
          minWidth: 290,
          maxWidth: 240,
          position: 'bottom-right',
          offsetX: -20,
          functionInit: function() {
	        	return $('#login-dialog').html();
			    },
			    functionReady: function(origin, tooltip) {
		    		var pLink = $(tooltip).find('.forgotten-password');

		    		$(tooltip).addClass("login-mobile");
		    		$(pLink).click(function (ev) {
		    			var pwordDialog = $('#forgotten-password-dialog').html();
		    			$('.log-in, .login-mob').tooltipster('content', pwordDialog);

		    			ev.preventDefault();
		    		});
			    },
			    functionAfter: function() {
			    	var loginDialog = $('#login-dialog').html();

			    	$('body').css("overflow-y", "visible");
			    	$('.log-in, .login-mob').tooltipster('content', loginDialog);
			    }
      });

      // For signed-in
      $('.signed-in').tooltipster({
          trigger: 'click',
          contentAsHTML: true,
          interactive: true,
          minWidth: 230,
          position: 'bottom-right',
          functionInit: function() {
	        	return $('#signed-in-dialog').html();
			    }
      });
	  });

	</script>
	
  </body>
</html>