
<!DOCTYPE html>
<!--[if lt IE 7]>     <html class="no-js ie ltie10 ltie9 ltie8 ltie7 ie6" lang="en"> <![endif]-->
<!--[if IE 7]>        <html class="no-js ie ltie10 ltie9 ltie8 gtie6 gtie5 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>        <html class="no-js ie ltie10 ltie9 gtie7 gtie6 gtie5 ie8" lang="en"> <![endif]-->
<!--[if IE 9]>        <html class="no-js ie ltie10 gtie8 gtie7 gtie6 gtie5 ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js takeover-active" lang="en"><!--<![endif]-->
<head>
	<!--(bake /templates/structure/html-header.html)-->
</head>

<body>
<div><a href="#skipnav" class="skip">Skip to main content</a></div>

<div class="ad-top takeover">
	<img src="/hfg/assets/img/structure/bg-leaderboard.png" alt="Advert">
</div>
<div class="ad-left takeover"></div>

	<div id="wrapper" class="wrapper">

		<!--(bake /templates/structure/header.html)-->

			<div class="main off-area">
			    <a id="skipnav" tabindex="-1"></a>

			    <div class="row margin">
						<div class="pane base12">
							<!--(bake /templates/components/_breadcrumb.html)-->
						</div>
					</div><!-- .row -->

			    <div class="row relative hero-area">
			    	<div class="pane base12 tp12 ml12">
							<!--(bake /templates/components/_recipe-carousel.html)-->
						</div>
					</div><!-- .row -->

					<div class="row">
						<div class="pane base8 tp12 ml12">

							<div class="row tp-margin ml-margin mp-margin">
								<div class="search-wrapper">
									<input id="body-search" class="search-box" name="body-search" placeholder="Search Cuisine" type="text" value="">
									<a href="#" class="icon_search" title="search"><span></span></a>
								</div>
							</div>

							<div class="row">
								<div class="pane base8 tp12 ml12">
									<div class="component popular-recipes">
										<h3>Popular Recipes</h3>
										<div id="popular-recipes" class="component owl-carousel body cf">
											
											<div class="item cf">
												<!--(bake /templates/components/_popular-recipe-list-item.html)-->
											</div>

											<div class="item cf">
												<!--(bake /templates/components/_popular-recipe-list-item.html)-->
											</div>

											<div class="item cf">
												<!--(bake /templates/components/_popular-recipe-list-item.html)-->
											</div>

											<div class="item cf">
												<!--(bake /templates/components/_popular-recipe-list-item.html)-->
											</div>

											<div class="item cf">
												<!--(bake /templates/components/_popular-recipe-list-item.html)-->
											</div>

											<div class="item cf">
												<!--(bake /templates/components/_popular-recipe-list-item.html)-->
											</div>

										</div>
									</div>
								</div>
							</div>

							<div class="row tp-margin ml-margin mp-margin">
								<div class="pane base4 tp6 ml6">
									<!--(bake /templates/components/_infobox-homepage-full.html)-->
								</div>
								<div class="pane base4 tp6 ml6">
									<!--(bake /templates/components/_infobox-homepage-full.html)-->
								</div>
							</div>

							<div class="row tp-margin ml-margin mp-margin">
								<div class="pane base4 tp6 ml6">
									<!--(bake /templates/components/_infobox-homepage-full.html)-->
								</div>
								<div class="pane base4 tp6 ml6">
									<!--(bake /templates/components/_infobox-homepage-full.html)-->
								</div>
							</div>
							
								<div class="row tp-margin ml-margin mp-margin">
									<div class="pane base8 tp12 ml12">
										<h3>Popular Diet Planners</h3>
										<div id="diet-carousel" class="component owl-carousel body cf">
											<div class="item pane base2 tp3 ml12 mp12 cf">
												<!--(bake /templates/components/_recipe-list-item-carousel.html)-->
											</div>

											<div class="item pane base2 tp3 ml12 mp12 cf">
												<!--(bake /templates/components/_recipe-list-item-carousel.html)-->
											</div>

											<div class="item pane base2 tp3 ml12 mp12 cf">
												<!--(bake /templates/components/_recipe-list-item-carousel.html)-->
											</div>

											<div class="item pane base2 tp3 ml12 mp12 cf">
												<!--(bake /templates/components/_recipe-list-item-carousel.html)-->
											</div>

											<div class="item pane base2 tp3 ml12 mp12 cf">
												<!--(bake /templates/components/_recipe-list-item-carousel.html)-->
											</div>

											<div class="item pane base2 tp3 ml12 mp12 cf">
												<!--(bake /templates/components/_recipe-list-item-carousel.html)-->
											</div>

										</div>
									</div>
								</div>
								<div class="row tp-margin ml-margin mp-margin">
									<div class="pane base4 tp6">
										<!--(bake /templates/components/_infobox-homepage.html)-->
									</div>
									<div class="pane base4 tp6">
										<!--(bake /templates/components/_infobox-homepage.html)-->
									</div>
								</div>
							</div>
						<div class="pane base4 tp12 ml12 tp-mgZero aside">
							<!--(bake /templates/components/_mpu.html)-->
							<!--(bake /templates/components/_infobox-question.html)-->
							<!--(bake /templates/components/_infobox-question-v2.html)-->
							<!--(bake /templates/components/_infobox-question.html)-->
							<!--(bake /templates/components/_mpu.html)-->
						</div>
							
					</div><!-- .row -->


		</div><!-- .main -->
		<div class="push"></div> <!-- For sticky footer -->

		<!-- Login popup  -->
		<div id="login-dialog" class="dialog">
			<div class="login-dialog">
				<form>
					<div class="row">
						<label for="username">Username or Email: <span class="small">(required)</span></label>
						<input class="" id="username" name="username" placeholder="" type="text" value="">
					</div>
					<div class="row">
						<label for="password">Password: <span class="small">(required)</span></label>
						<input class="" id="password" name="password" placeholder="" type="password" value="">
					</div>

					<div class="row">
						<a href="#" class="forgotten-password">Forgotten your password?</a>
					</div>

					<div class="row">
						<div class="error-message"><strong>ERROR</strong>: Invalid username. <a href="http://134.213.146.151/healthyfoodguide/wp-login.php?action=lostpassword" title="Password Lost and Found">Lost your password?</a>
						</div>
					</div>

					<div class="row">
						<input type="submit" class="bttn primary" value="Sign in">
					</div>
				</form>
			</div>
		</div>

		<!-- Forgotten password popup  -->
		<div id="forgotten-password-dialog" class="dialog">
			<div class="forgotten-password-dialog">
				<form>
					<div class="row">
						<p>Please enter your username or email address. You will receive a link to create a new password via email.</p>
					</div>
					<div class="row">
						<label for="username">Username or Email: <span class="small">(required)</span></label>
						<input class="" id="username" name="username" placeholder="" type="text" value="">
					</div>
					<div class="row">
						<input type="submit" class="bttn primary" value="Get New Password">
					</div>
				</form>
			</div>
		</div>

		<!-- Signed in popup  -->
		<div id="signed-in-dialog" class="dialog">
			<div class="signed-in-dialog">
				<form>
					<div class="row">
						<ul>
							<li><a href="#">Profile</a></li>
							<li><a href="#">Recipes</a></li>
							<li><a href="#">Articles</a></li>
							<li><a href="#">Diet Planners</a></li>
							<li><a href="#">Comments</a></li>
							<li><a href="#">Newsletters</a></li>
						</ul>	
					</div>

					<div class="row">
						<input type="submit" class="bttn primary" value="Sign out">
					</div>
				</form>
			</div>
		</div>

		<!-- infographic popup  -->
		<div id="infographic-dialog" class="dialog">
			<div class="infographic-dialog">
				<div class="row">
					<a href="#" class="bttn primary">View your recipes</a>
				</div>
			</div>
		</div>

	</div><!-- .wrapper -->
	<div class="ad-right takeover"></div>

	<!--(bake /templates/structure/footer.html)-->

	<script type="text/javascript">
	'use strict';

		$(document).ready(function() {

			var $this = $(this);

			$this.on('click', 'a.tooltipstered', function (ev) {
				ev.preventDefault();
			});

			$this.on('focus', '.infographic', function () {
				$(this).tooltipster('show');
			});

			$this.on('blur', '.infographic', function () {
				$(this).tooltipster('hide');
			});

			$('.infographic').tooltipster({
				trigger: 'hover',
				contentAsHTML: true,
				interactive: true,
				maxWidth: 180,
				position: 'bottom-left',
				functionInit: function (origin, content) {
					return content + $('#infographic-dialog').html();
				}
			});

    	// For login
      $('.log-in, .login-mob').tooltipster({
          trigger: 'click',
          contentAsHTML: true,
          interactive: true,
          minWidth: 290,
          maxWidth: 240,
          position: 'bottom-right',
          offsetX: -20,
          functionInit: function() {
	        	return $('#login-dialog').html();
			    },
			    functionReady: function(origin, tooltip) {
		    		var pLink = $(tooltip).find('.forgotten-password');

		    		$(tooltip).addClass("login-mobile");
		    		$(pLink).click(function (ev) {
		    			var pwordDialog = $('#forgotten-password-dialog').html();
		    			$('.log-in, .login-mob').tooltipster('content', pwordDialog);

		    			ev.preventDefault();
		    		});
			    },
			    functionAfter: function() {
			    	var loginDialog = $('#login-dialog').html();

			    	$('body').css("overflow-y", "visible");
			    	$('.log-in, .login-mob').tooltipster('content', loginDialog);
			    }
      });

      // For signed-in
      $('.signed-in').tooltipster({
          trigger: 'click',
          contentAsHTML: true,
          interactive: true,
          minWidth: 230,
          position: 'bottom-right',
          functionInit: function() {
	        	return $('#signed-in-dialog').html();
			    }
      });

		  $('#home-hero-carousel').owlCarousel({ 
		  	items: 1,
		  	loop: true,
		  	nav: true,
		  	rewind: false,
		  	autoplay: false,
		  	autoplayHoverPause: true,
		  	autoplaySpeed: 800,
		  	smartSpeed: 800
		  });	  

		  $('#popular-recipes').owlCarousel({
				nav: true,
				margin: 6,
				responsive: {
			    0: {
		        items: 1,
		        slideBy: 1
			    },
			    480: {
			    	items: 2,
		        slideBy: 2
			    },
			    768: {
			    	items: 3,
		        slideBy: 3
			    }
				},
		  	onTranslated: function (e) {
		  		var o = e.target,
		  				getItems = $(o).find('.owl-item'),
		  				getActive = $(o).find('.active'),
		  				activeLength = getActive.length;

		  		$(getItems).removeClass('first last');
		  		$(getActive).eq(0).addClass('first');
		  		$(getActive).eq((activeLength - 2)).addClass('last');
		  	}
		  });

		  $('#diet-carousel').owlCarousel({
				nav: true,
				margin: 6,
				responsive: {
			    0: {
		        items: 1,
		        slideBy: 1
			    },
			    640: {
			    	items: 2,
		        slideBy: 2
			    },
			    768: {
			    	items: 4,
		        slideBy: 4
			    }
				},
		  	onTranslated: function (e) {
		  		var o = e.target,
		  				getItems = $(o).find('.owl-item'),
		  				getActive = $(o).find('.active'),
		  				activeLength = getActive.length;

		  		$(getItems).removeClass('first last');
		  		$(getActive).eq(0).addClass('first');
		  		$(getActive).eq((activeLength - 2)).addClass('last');
		  	}
		  });
	  });

	</script>
	
  </body>
</html>