
<!DOCTYPE html>
<!--[if lt IE 7]>     <html class="no-js ie ltie10 ltie9 ltie8 ltie7 ie6" lang="en"> <![endif]-->
<!--[if IE 7]>        <html class="no-js ie ltie10 ltie9 ltie8 gtie6 gtie5 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>        <html class="no-js ie ltie10 ltie9 gtie7 gtie6 gtie5 ie8" lang="en"> <![endif]-->
<!--[if IE 9]>        <html class="no-js ie ltie10 gtie8 gtie7 gtie6 gtie5 ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js takeover-active" lang="en"><!--<![endif]-->
<head>
	<!--(bake /templates/structure/html-header.html)-->
</head>

<body class="framework">
<div><a href="#skipnav" class="skip">Skip to main content</a></div>

<div class="ad-top takeover">
	<img src="/hfg/assets/img/structure/bg-leaderboard.png" alt="Advert">
</div>
<div class="ad-left takeover"></div>

	<div id="wrapper" class="wrapper">

		<!--(bake /templates/structure/header.html)-->

			<div class="main off-area">
			    <a id="skipnav" tabindex="-1"></a>

			    <div class="row margin">
						<div class="pane base12">
							<!--(bake /templates/components/_breadcrumb.html)-->
						</div>
					</div><!-- .row -->

			    <div class="row">
							<!--(bake /templates/components/_recipe-header.html)-->
					</div><!-- .row -->

					<div class="row tp-margin">
						<div class="pane base8 tp12 ml12">
							<!--(bake /templates/components/_recipe-body.html)-->
						</div>
						<div class="pane base4 tp12 ml12 tp-mgZero aside">
							<!--(bake /templates/components/_mpu.html)-->
							<h3>More Chorizo Recipes</h3>
							<!--(bake /templates/components/_recipe-list-item.html)-->
							<a href="#" class="bttn secondary">More Recipes</a>
							<!--(bake /templates/components/_mpu.html)-->
							<h3 class="no-border">Popular Recipes</h3>
							<!--(bake /templates/components/_tabs-small.html)-->
							<a href="#" class="bttn secondary">More Recipes</a>
						</div>
							
					</div><!-- .row -->


		</div><!-- .main -->
		<div class="push"></div> <!-- For sticky footer -->

		<!-- Login popup  -->
		<div id="login-dialog" class="dialog">
			<div class="login-dialog">
				<form>
					<div class="row">
						<label for="username">Username or Email: <span class="small">(required)</span></label>
						<input class="" id="username" name="username" placeholder="" type="text" value="">
					</div>
					<div class="row">
						<label for="password">Password: <span class="small">(required)</span></label>
						<input class="" id="password" name="password" placeholder="" type="password" value="">
					</div>

					<div class="row">
						<a href="#" class="forgotten-password">Forgotten your password?</a>
					</div>

					<div class="row">
						<input type="submit" class="bttn primary" value="Sign in">
					</div>
				</form>
			</div>
		</div>

		<!-- Save recipe popup  -->
		<div id="save-recipe-dialog" class="dialog">
			<div class="save-recipe-dialog">
				<div class="row">
					<p>Saved to your recipes.</p>
				</div>
				<div class="row">
					<a href="#" class="bttn primary">More on nutrition</a>
				</div>
			</div>
		</div>

		<!-- infographic popup  -->
		<div id="infographic-dialog" class="dialog">
			<div class="infographic-dialog">
				<div class="row">
					<a href="#" class="bttn primary">View your recipes</a>
				</div>
			</div>
		</div>

	</div><!-- .wrapper -->
	<div class="ad-right takeover"></div>

	<!--(bake /templates/structure/footer.html)-->

	<script type="text/javascript">
	'use strict';

		$(document).ready(function() {

			var $this = $(this);

			$this.on('click', 'a.tooltipstered', function (ev) {
				ev.preventDefault();
			});

			$this.on('focus', '.infographic', function () {
				$(this).tooltipster('show');
			});

			$this.on('blur', '.infographic', function () {
				$(this).tooltipster('hide');
			});

			$('.infographic').tooltipster({
				trigger: 'hover',
				contentAsHTML: true,
				interactive: true,
				maxWidth: 180,
				position: 'bottom-left',
				functionInit: function (origin, content) {
					return content + $('#infographic-dialog').html();
				}
			});

			//For save recipe button
      $('.save-recipe').tooltipster({
          trigger: 'click',
          contentAsHTML: true,
          interactive: true,
          position: 'bottom-left',
          offsetX: 20,
          functionInit: function() {
	        	return $('#save-recipe-dialog').html();
			    }
      });

    	// For login
      $('.log-in').tooltipster({
          trigger: 'click',
          contentAsHTML: true,
          interactive: true,
          minWidth: 290,
          position: 'bottom-right',
          offsetX: -20,
          functionInit: function() {
	        	return $('#login-dialog').html();
			    }
      });
	  });

	</script>
	
  </body>
</html>