@charset "CP850";

* {
  box-sizing: border-box;
}

html {
    //overflow-y: scroll;
    font-size: 62.5%;
    //background: rgba(170, 204, 24, 0.3);
    
}

html, body {
    height: 100%;
}

.ie7 html,.ie8 html {
    font-size: 10px
}

body,div,a,h1,h2,h3,h4,h5,h6,p,ul,ol,li,img,label,input,select,blockquote,fieldset,legend,form {
    margin: 0;
    padding: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,video,picture {
    display: block
}

iframe {
    border: 0 solid transparent
}

table {
  border-spacing: 0;
  border-collapse: separate;
}

.bold {
    font-weight: bold
}

span.hiddentext,h1.hiddentext {
    position: absolute;
    left: -9999px
}

.cf,.rwd .row .pane,.main {
    zoom: 1
}

.cf:before,.rwd .row .pane:before,.cf:after,.rwd .row .pane:after,.main:before,.main:after {
    content: "";
    display: table
}

.cf:after,.rwd .row .pane:after,.main:after {
    clear: both
}

.ltie8 .cf,.ltie8 .rwd .row .pane,.rwd .row .ltie8 .pane {
    zoom: 1
}

.mobile {
  display: none!important;
}

.actions {
    position: fixed;
    top: 0;
    z-index: 2;
}

body {
    font-size: 100%;
    font-family: 'MuseoSans300', Arial, Verdana;
    text-align: left;
    color: #000;
    letter-spacing: 0;

    &.overflow-visible {
      overflow-x: visible!important;
    }
}

a {
    text-decoration: none;
    color: #000;
}

a:hover,a:focus,a:active {
    text-decoration: none;
    color: #becf00;
}

a:focus,a:active {
    outline: none
}

a img {
    border: 0
}

a:hover img {
    opacity: 0.5;
    filter: alpha(opacity=50)
}

img {
    border: none;
    max-width: 100%;
    display: block
}

strong {
  font-family: 'MuseoSans900';
  letter-spacing: -.5px;
  letter-spacing: -.05rem; 
  font-weight: normal;
}

h1,h2,h3,h4 {
    font-weight: normal;
    font-family: Arial, Verdana;
    color: #000
}

h1 {
    font-family: 'MuseoSlab300';
    font-size: 48px;
    font-size: 4.8rem;
    line-height: 52px;
    line-height: 5.2rem;
    padding: 15px 0 10px;
    margin: 0;

    strong {
      font-family: 'MuseoSlab900';
      color: #becf00;
    }

    &.section {
      font-family: 'MuseoSlab900';
      font-size: 35px;
      font-size: 3.5rem;
      line-height: 37px;
      line-height: 3.7rem;
      color: #becf00;
      padding-top: 0;
      padding-bottom: 40px;
    }
    .number {
      font-family: 'MuseoSans300';
      font-size: 24px;
      font-size: 2.4rem;
      line-height: 29px;
      line-height: 2.9rem;
      color: #333;
    }
}

h2 {
    font-family: 'MuseoSlab900';
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 20px;
    line-height: 2rem;
}

h3 {
    font-family: 'MuseoSlab900';
    font-size: 18px;
    font-size: 1.8rem;
    padding: 10px 0 25px;
    margin: 0 0 10px;
    border-top: 2px solid #000;
    border-bottom: 1px dotted #000;
}

h4 {
    font-size: 15px;
    font-size: 1.5rem;
    padding: 10px 0 10px
}

p {
    line-height: 14px;
    line-height: 1.4rem;
    font-size: 12px;
    font-size: 1.2rem;
    padding: 0 0 8px 0;
    padding: 0 0 0.8rem 0
}

ul {
    list-style-type: none
}

ul li,ol li {
    font-size: 14px;
    font-size: 1.4rem;
    margin: 0;
    padding: 0 0 9px 0;
    padding: 0 0 0.9rem 0;
    list-style-type: none;
}

.no-border {
  border-bottom: 0;
  padding-bottom: 0;
}

.border {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px 0px 12px 0px rgba(138,138,0,0.55);
}

.pull-out {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 0 0 20px 0;
  padding: 30px;
  
  h3 {
    text-transform: uppercase;
  }
  li, a {
    color: #fff;
    font-family: 'MuseoSlab300';
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 16px;
    line-height: 1.6rem;
  }

  li {
    list-style-type: disc;
    list-style-position: inside;
    padding-bottom: 5px;
  }

  &.green {
    background-color: #becf00;
  }
  &.orange {
    background-color: #f2aa18;
  }

  &.left {
    width: 48.4%;
    margin: 0 3.2% 16px 0;
  }
  &.right {
    width: 48.4%;
    margin: 0 0 16px 3.2%;
  }

  &:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    border: 2px dotted white;
    pointer-events: none;
  } 
}

.bttn {
  padding: 12px 12px 8px;
  text-align: center;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 16px;
  line-height: 1.6rem;
  font-family: 'MuseoSansCond700';
  letter-spacing: 1px;
  letter-spacing: .1rem;
  border: none;
  background-color: #becf00;
  color: #fff;
  display: block;
  cursor: pointer;
  //-webkit-appearance: button;
  border-radius: 4px;
  outline: none;
  width: auto;
  text-transform: uppercase;

  &:hover, &:focus, &:active {
    background-color: #ff9000;
    color: white;
  }

  &.secondary {
    background-color: transparent;
    color: #8cb624;
    border: 1px solid #becf00;

    &:hover, &:focus, &:active {
      background-color: #becf00;
      color: #fff;
    }
  }

  &.toggle {
    display: inline-block;
    border: 1px solid #becf00;
    border-left: 0;
    border-radius: 0;
    background-color: #fff;
    color: #becf00;
    min-width: 77px;

    &:first-child {
      border-radius: 5px 0 0 5px;
      border-left: 1px solid #becf00;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
    }

    &:hover, &:focus, &:active, &.active {
      background-color: #becf00;
      color: #fff;
    }
  }

  > .icon {
    margin-right: 5px;
  }
}

.skip {
    position: absolute;
    left: -999em
}

a.skip:active,a.skip:focus {
    top: 0;
    left: 0;
    color: #fff;
    background: #01a7e3;
    font-size: 1.1em;
    display: block;
    padding: 0.4em;
    border: 0.1em solid #fff;
    white-space: nowrap;
    width: 14em;
    text-align: center;
    font-weight: bold
}

.toggles {
  font-size: 0;
}

.mts-icon-star {
  &:before {
    color: #fd9025;
  }
}


.quote-text {
  font-family: 'MuseoSlab900';
  font-size: 35px;
  font-size: 3.5rem;
  line-height: 37px;
  line-height: 3.75rem;
  color: #becf00;
  display: inline;
  padding-left: 22px;
  padding-right: 30px;
  position: relative;

  &:before {
    content: '\2018';
    font-family: Serif;
    font-size: 100px;
    line-height: 75px;
    position: absolute;
    left: -8px;
    top: 0;
  }

  &:after {
    content: '\2019';
    font-family: Serif;
    font-size: 100px;
    line-height: 8px;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &::first-letter {
    padding-left: 22px;
  }
}

.section-intro {
  font-family: 'MuseoSlab300';
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 26px;
  line-height: 2.6rem;
  color: #7d7d7d;
}

.social-icon {
    display: inline-block;
    background-color: transparent;
    border-radius: 4px;
    padding: 8px 9px 4px;
    margin-left: 3px;
    color: #fff;
    font-size: 20px;
    font-size: 2rem;     

    &:hover, &:active, &:focus {
      background-color: #ff9000;
      color: #fff;
      text-decoration: none;
    }
  }

  .social_facebook {
    background-color: #35589b;
  }

  .social_twitter {
    background-color: #36a9e0;
  }

  .social_pinterest {
    background-color: #c91517;
  }

  .social_youtube {
    background-color: #da4937;
  }

  .social_rss {
    background-color: #f2aa18;
  }

  .social_googleplus {
    background-color: #da4937;
  }

  .icon_mail {
    background-color: #f2aa18;
  }

  .cal-label-border {
    position: absolute;
    left: -4px;
    top: -27px;
    width: 90px;
    min-height: 85px;
    text-align: center;
    background: #becf00;
    border-radius: 70px;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 14px;
    line-height: 1.4rem;
    transform: translate(0) rotate(-15deg);

    &:after {
      content: '';
      position: absolute;
      top: -2px;
      left: 13px;
      width: 64px;
      height: 100%;
      background: url(/assets/img/structure/label-recipe.png) no-repeat top center transparent;
      background-size: contain;
    }

    .cal-label {
      border-radius: 70px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: 2px;
      padding: 24px 5px 9px;
      word-wrap: break-word;
      background-color: white;
      word-break: break-word;
    }

    .cals, .day {
      font-family: 'MuseoSansCond900';
      font-size: 20px;
      font-size: 2.0rem;
      line-height: 18px;
      line-height: 1.8rem;
      margin-top: 5px;
      display: inline-block;
    }

    .day {
      font-size: 42px;
      font-size: 4.2rem;
      width: 100%;
      margin-top: 10px;
    }
  }

  .infographic {
    width: 39px;
    height: 39px;
    display: inline-block;
    cursor: pointer;
    
    &.low-cal {
      @include icons-sprite(icon-low-cal);
    }
    &.low-fat {
      @include icons-sprite(icon-low-fat);
    }
    &.low-sugar {
      @include icons-sprite(icon-low-sugar);
    }
    &.low-salt {
      @include icons-sprite(icon-low-salt);
    }
    &.high-fibre {
      @include icons-sprite(icon-high-fibre);
    }
    &.high-protein {
      @include icons-sprite(icon-high-protein);
    }
    &.low-sats {
      @include icons-sprite(icon-low-sats);
    }
    &.high-calc {
      @include icons-sprite(icon-high-calcium);
    }
    &.high-iron {
      @include icons-sprite(icon-high-iron);
    }
    &.veg {
      @include icons-sprite(icon-veg);
    }
    &.gluten-free {
      @include icons-sprite(icon-gluten-free);
    }
    &.dairy-free {
      @include icons-sprite(icon-dairy-free);
    }
    &.oneaday {
      @include icons-sprite(icon-1aday);
    }
    &.twoaday {
      @include icons-sprite(icon-2aday);
    }
    &.threeaday {
      @include icons-sprite(icon-3aday);
    }
    &.fouraday {
      @include icons-sprite(icon-4aday);
    }
    &.fiveaday {
      @include icons-sprite(icon-5aday);
    }
  }

  .nutrographic {
    width: 55px;
    height: 52px;
    margin: 0 2px;
    padding: 30px 0 0;
    text-align: center;
    display: inline-block;
    font-family: 'MuseoSans900';
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 17px;
    line-height: 1.7rem;

    &.cal {
      @include icons-sprite(icon-nut-cal);
    }
    &.calc {
      @include icons-sprite(icon-nut-calc);
    }
    &.carb {
      @include icons-sprite(icon-nut-carb);
    }
    &.fat {
      @include icons-sprite(icon-nut-fat);
    }
    &.fibre {
      @include icons-sprite(icon-nut-fibre);
    }
    &.iron {
      @include icons-sprite(icon-nut-iron);
    }
    &.protein {
      @include icons-sprite(icon-nut-protein);
    }
    &.salt {
      @include icons-sprite(icon-nut-salt);
    }
    &.sat {
      @include icons-sprite(icon-nut-sat);
    }
    &.sugar {
      @include icons-sprite(icon-nut-sugar);
    }
  }

  .ratings {
    &:before {
      font-size: 16px;
      font-size: 1.6rem;
      color: #ff9000;
    }
  }

  .icon {
    &.question {
      display: block;
      font-size: 13px;
      font-size: 1.3rem;
      line-height: 21px;
      line-height: 2.1rem;
      &:before { 
        color: #30b0cf; 
        margin-right: 5px;
        font-size: 16px;
        font-size: 1.6rem;
      }
    }
  }

  .tooltipster-default, .tooltipster-profile {
    border: 1px solid #becf00;
    border-top-width: 5px;
    background: #fff;
    padding: 15px;
    box-shadow: 0px 6px 12px 0px rgba(50,50,50,0.75);
    border-radius: 0;
    color: #000;

    .dialog { display: block; }

    .tooltipster-content {
      padding: 0;
      font-family: 'MuseoSans900';
      font-size: 11px;
      font-size: 1.1rem;
      line-height: 13px;
      line-height: 1.3rem;

      .row {
        float: none;
        display: block;
        padding-bottom: 10px;
        &:last-child { padding-bottom: 0; }

        p { 
          
        }
      }
    }
  }

  .tooltipster-profile {
    border-top-width: 1px;
    border-left-width: 5px;
  }

  .login-dialog {

    label { display: block; }
    input {
      &[type='text'], &[type='password'], &[type='submit'] { width: 100%; }
    }
    .forgotten-password {
      font-family: 'MuseoSans900';
      font-size: 13px;
      font-size: 1.3rem;
      line-height: 21px;
      line-height: 2.1rem;
      color: #8cb624;
      letter-spacing: 1px;
      letter-spacing: .1rem;

      &:active, &:focus, &:hover {
        color: black;
      }
    }
  }

  .signed-in-dialog {

    li {
      padding: 0;
    }

    a {
      display: inline-block;
      padding: 5px 0;
    }

    input {
      &[type='text'], &[type='password'], &[type='submit'] { width: 100%; }
    }
  }

  .infographic-dialog {
    margin-top: 10px;
  }

    .dialog {
      display: none;
    }

  .hero-area {

    &.row .pane {
      //margin-left: 10px;
    }
    .component.infobox {
      &.square {
        margin-top: 10px;

        &:first-of-type {
          margin-top: 0;
        }
      }
    }
  }

footer {
  width: 100%;
  padding: 20px 0 0 0;
  margin: 0 auto;
  background-color: #bece2a;
  box-sizing: border-box;
  position: relative;
  z-index: 2;

  .wrapper {
    margin: 0 auto;
    padding-bottom: 0;
    background: transparent;
  }

  h3 {
    border: none;
    padding-bottom: 0;
  }

  p {
    color: #fff;
  }

  .bttn {
    &.secondary {
      display: inline-block;
      background-color: #fff;;
      color: #8cb624;
      border: 1px solid #fff;

      &:hover, &:focus, &:active {
        background-color: #ff9000;
        color: #fff;
        border-color: #ff9000;
      }
    }
  }

  .social {
    a {
      &:first-child {margin-left: 0;}
    }
  }

  .mags {
    position: absolute;
    width: 195px;
    height: 162px;
    right: 280px;
    top: 6px;
    @include icons-sprite(footer-mags);
  }

  .footer-links {
    text-align: center;
    a {
      display: inline-block;
      color: #fff;
      font-family: 'MuseoSlab900';
      font-size: 11px;
      font-size: 1.1rem;
      line-height: 15px;
      line-height: 1.5rem;
      margin: 0 5px;

      &:hover, &:focus, &:active {
        color: black;
      }
    }
    p {
      display: block;
      color: #000;
      font-size: 9px;
      font-size: .9rem;
      margin-top: 5px;
    }
  }
}


.ad-left, .ad-right {
    position: fixed;
    top: 0;
    width: 300px;
    height: 100%;
}

.ad-top {
    width: 100%;
    z-index: 1;
    padding: 10px 0;
    text-align: center;

    img {
        display: block;
        margin: 0 auto;
    }

    div {
      margin: 0 auto;
    }
}

.ad-left {
    left: 0;
    background: url('/assets/img/grids/ad-portrait.png') no-repeat center 250px transparent;
}
.ad-right {
    right: 0;
    background: url('/assets/img/grids/ad-portrait.png') no-repeat center 250px transparent;
}

.takeover {
    display: none;
    background-color: transparent;
    z-index: 1;
}

.takeover-active {
    //background: url('/assets/img/structure/bg-takeover.jpg') no-repeat center top fixed rgba(170,204,24,0.3);
    .takeover { 
      display: block; 
      &.ad-left, &.ad-right {
        display: none;
      }
    }
}

.search-wrapper {
  position: relative;
  font-size: 0;
}

input[type='text'].search-box {
  border-right: none;
  padding-right: 31px;
  width: 100%;

  &:hover, &:active, &:focus {
    border-color: #000;
    color: #000;

    + .icon_search {
      border-color: #000;
      color: #000;
    }
  }
}

.icon_search {
  position: absolute;
  right: 0;
  border: 1px solid #becf00;
  border-bottom: 0;
  border-left: none;
  color: #8cb624;
  padding: 10px 7px 6px 10px;
  border-radius: 0 5px 5px 0;
  text-decoration: none;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 19px;
  line-height: 1.9rem;  

  &:hover, &:focus, &:active {
    color: #000;
  }
}

.wrapper > header {
  width: 100%;
  padding: 22px 0 0 0;
  min-height: 151px;
  position: relative;

  .row {
    padding: 0;
  }

  .logo {
    width: 452px;
    height: 95px;
    margin-top: 40px;
    background: url(/assets/img/structure/logo.png) no-repeat left top;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .subscribe {
    position: absolute;
    width: 163px;
    height: 136px;
    right: 335px;
    bottom: 64px;
    @include icons-sprite(header-subscribe);
  }

  .sub-cta {
    position: absolute;
    width: 88px;
    height: 85px;
    text-indent: -9999px;
    right: -10px;
    bottom: -67px;
    @include icons-sprite(subscribe-cta);
  }

  .sign-up {
    float: right;
    text-align: center;
    padding: 14px;
    color: #000;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 16px;
    line-height: 1.6rem;
    font-family: 'MuseoSansCond900';
    text-transform: uppercase;

    &:hover, &:focus, &:active {
      color: #becf00;
    }
  }

  .social {
      text-align: right;

      .social-icon {
        padding: 5px 5px 3px;
        font-size: 13px;
        font-size: 1.3rem;
      }
  }

  .login {
      text-align: right;
      margin: 15px 0 0 0;
      font-size: 0;
      a { 
          display: inline-block;
          text-transform: uppercase;
          border-left: 1px solid #becf00;
          padding: 0 0 0 8px;
          margin: 0 0 0 3px;
          color: #333;
          font-family: 'MuseoSans900';
          font-size: 11px;
          font-size: 1.1rem;
          line-height: 13px;
          line-height: 1.3rem;
          letter-spacing: 1px;
          letter-spacing: .1rem;
          text-transform: uppercase;

          &:hover, &:active, &:focus {
            color: #becf00;
          }

          &:first-child {
              border: none;
          }

          &.signed-in {
            display: inline-block;
            color: #8cb624;

            &:hover, &:active, &:focus {
              color: #ff9000;
            }
          }

          span {
            display: inline-block;
            vertical-align: middle;
          }
      }

      img {
        display: inline-block;
        margin: 0 0 0 10px;
        border: 1px solid #becf00;
        vertical-align: middle;
      }
  }

  .search {
    position: relative;
    text-align: right;
    margin: 30px 0 0 0;
    font-size: 0; /*  remove gap between inline block elements */
  }
  .nav {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    border-top: 3px solid #000;
    border-bottom: 1px dotted #000;
  }
}

  .wrap {
    &.details {
      position: relative;
      background: url(/assets/img/structure/bg-recipe-panel.jpg) repeat left top transparent;
      border: 1px solid #becf00;
      border-top-width: 5px;
      border-left: none;
      min-height: 220px;

      h1 {
        font-size: 46px;
        font-size: 4.6rem;
        line-height: 46px;
        line-height: 4.6rem;
      }
    }

    &.info {
      font-size: 11px;
      font-size: 1.1rem;
      line-height: 13px;
      line-height: 1.3rem;

      a {
        &:hover, &:focus, &:active {
          color: #becf00;
        }
      }

      .ratings, .comments, .serving, .prep, .cook {
        margin-right: 15px;
        color: #000;
        white-space: nowrap;

        &:before {
          color: #becf00;
          margin-right: 5px;
          font-size: 16px;
          font-size: 1.6rem;
          text-decoration: none!important;
        }

        &:last-child {
          margin-right: 0;
        }
      }
      .ratings:before {
        color: #ff9000;
      }
    }

    &.infographics {
      font-size: 0;
      margin-top: 20px;
      margin-bottom: 20px;

      .infographic {
        margin-right: 10px;
        margin-bottom: 5px;
      }
    }

    &.action {
      float: right;
      margin: 13px 0 0 0;
      padding-bottom: 13px;
      border-bottom: 1px dotted black;
      
      .bttn {
        display: inline-block;
        margin-left: 10px;
        &:first-child {
          margin-left: 0;
        }
        .icon:before {
          font-size: 16px;
          font-size: 1.6rem;
        }
      }
      .buttons {
        float: left;
      }
      .social {
        float: right;
      }
      .share { display: none; }
    }

    .tags {
      float: right;
      padding-top: 5px;

      li {
        float: left;
        margin-left: 3px;
        padding: 0;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          &:after {
            content: '';
          }
        }

        &:after {
          content: ',';
        }
      }
      
      a, a[rel='tag'] {
        font-size: 10px;
        font-size: 1rem;
        color: #8cb624;

        &:hover, &:focus, &:active {
          color: #ff9000;
        }
      }
    }
  }

.search-box::-webkit-input-placeholder {
  color:    #8cb624;
}

.search-box:-moz-placeholder {
  color:    #8cb624;
}

.search-box::-moz-placeholder {
  color:    #8cb624;
}

.search-box:-ms-input-placeholder {
  color:    #8cb624;
}

.wrapper>header:before,.wrapper>header:after {
    content: "";
    display: table
}

.wrapper>header:after {
    clear: both
}

@media all and (max-width: 1024px) {
    .takeover-active {
        .takeover { display: none; }
        .wrapper { margin-top: 0; }
    } 
}

@media all and (max-width: 1023px) {

  body {
    background: #fff!important;
  }



  .mobile {
    display: block!important;
  }

  .desktop {
    display: none!important;
  }

  h1 {
    &.section {
      padding-bottom: 10px;
    }
  }

  .wrapper > header {
    background-color: #bed000;
    min-height: 0;
    height: 63px;
    padding: 0;
    position: static;
    border-bottom: 3px solid black;

    .social, .login, .subscribe, .sign-up {
      display: none;
    }

    .logo {
      width: 170px;
      height: 63px;
      background: url(/assets/img/structure/logo-mob.png) no-repeat center;
      margin: 0 auto;
    }

    .search {
      position: absolute;
      top: 63px;
      left: 0;
      margin: 0;
      padding: 8px;
      width: 100%;
      text-align: left;
      display: none;

      .global-search {
        width: 100%;
      }

      .icon_search {
        position: absolute;
        right: 5px;
        background-color: #fff;
      }
    }

    .nav {
      margin: 0;
      border: none;
    }
  }

  .bttn {
    &.toggle {
      min-width: 86px;
    }
  }

  footer {
    .mags {
      right: 220px;
    }
  }

  #login_dialog {
    left: 0!important;
    right: 0;
    top: 50%!important;
    margin: 0 auto;
    margin-top: -149px;
    z-index: 99;

    &:before {
      display: none;
    }
  }
}


@media all and (max-width: 767px) {

    .tablet {
      display: none!important;
    }

    .wrapper > header {
      .megamenu-container {
        .mega-btn {
          left: 0;
        }
        .search-btn {
          right: 7px;
        }

        .megamenu-list {
          width: 100%;
        }
      }
    }

    .nutrographic {
      margin-bottom: 7px;
    }

    .toggles {
      text-align: center;
    }

    footer {
        padding-top: 180px;
        text-align: center;

        h3 {
          text-align: center;
        }
        .social {
          text-align: center;
        }

        .mags {
          top: -165px;
          right: 0;
          left: 0;
          margin: 0 auto;
        }

        .bttn.secondary {
          display: block;
        }
    }
}

@media all and (max-width: 480px) {

  .section-intro {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 22px;
    line-height: 2.2rem;
  }

  .bttn.toggle {
    min-width: 0;
  }
}
