@charset "CP850";

* {
  box-sizing: border-box;
}

html {
    overflow-y: scroll;
    font-size: 62.5%;
    background: url('/assets/img/structure/bg-takeover.jpg') no-repeat center top fixed #3D3A4B;
}

html, body {
    height: 100%;
}

.ie7 html,.ie8 html {
    font-size: 10px
}

body,div,a,h1,h2,h3,h4,h5,h6,p,ul,ol,li,img,label,input,select,blockquote,fieldset,legend,form {
    margin: 0;
    padding: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,video,picture {
    display: block
}

iframe {
    border: 0 solid transparent
}

.bold {
    font-weight: bold
}

span.hiddentext,h1.hiddentext {
    position: absolute;
    left: -9999px
}

.cf,.rwd .row .pane,.main {
    zoom: 1
}

.cf:before,.rwd .row .pane:before,.cf:after,.rwd .row .pane:after,.main:before,.main:after {
    content: "";
    display: table
}

.cf:after,.rwd .row .pane:after,.main:after {
    clear: both
}

.ltie8 .cf,.ltie8 .rwd .row .pane,.rwd .row .ltie8 .pane {
    zoom: 1
}

.actions {
    position: fixed;
    top: 0;
    z-index: 2;
}

body {
    font-size: 100%;
    font-family: Arial, Verdana;
    text-align: left;
    color: #4b4b4b;
    letter-spacing: 0
}

a {
    text-decoration: none;
    color: #0b70e4
}

a:hover,a:focus,a:active {
    text-decoration: none
}

a:focus,a:active {
    outline: none
}

a img {
    border: 0
}

a:hover img {
    opacity: 0.5;
    filter: alpha(opacity=50)
}

img {
    border: none;
    max-width: 100%;
    display: block
}

h1,h2,h3,h4 {
    font-weight: normal;
    font-family: Arial, Verdana;
    color: #000
}

h1 {
    font-size: 40px;
    font-size: 4rem;
    text-transform: uppercase;
    padding-bottom: 10px
}

h2 {
    font-size: 26px;
    font-size: 2.6rem;
    text-transform: uppercase;
    padding: 10px 0 10px;
    margin: 0
}

h3 {
    font-size: 22px;
    font-size: 2.2rem;
    text-transform: uppercase;
    padding: 10px 0 10px;
    margin: 0
}

h4 {
    font-size: 15px;
    font-size: 1.5rem;
    padding: 10px 0 10px
}

p {
    line-height: 22px;
    line-height: 2.2rem;
    font-size: 15px;
    font-size: 1.5rem;
    padding: 0 0 8px 0;
    padding: 0 0 0.8rem 0
}

ul {
    list-style-type: none
}

ul li,ol li {
    font-size: 15px;
    font-size: 1.5rem;
    margin: 0;
    padding: 0 0 9px 0;
    padding: 0 0 0.9rem 0;
    list-style-type: none;
}

.bttn {
  padding: 12px;
  text-align: center;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 16px;
  line-height: 1.6rem;
  font-family: 'MuseoSansCond700';
  letter-spacing: 1px;
  letter-spacing: .1rem;
  border: none;
  background-color: #becf00;
  color: #fff;
  display: block;
  cursor: pointer;
  //-webkit-appearance: button;
  border-radius: 4px;
  outline: none;
  width: auto;
  text-transform: uppercase;
  }

.skip {
    position: absolute;
    left: -999em
}

a.skip:active,a.skip:focus {
    top: 0;
    left: 0;
    color: #fff;
    background: #01a7e3;
    font-size: 1.1em;
    display: block;
    padding: 0.4em;
    border: 0.1em solid #fff;
    white-space: nowrap;
    width: 14em;
    text-align: center;
    font-weight: bold
}

.social-icon {
    display: inline-block;
    background-color: transparent;
    border-radius: 4px;
    padding: 5px 5px 3px;
    margin-left: 8px;
    color: #fff;
    font-size: 13px;     

    &:hover, &:active, &:focus {
      background-color: #becf00;
      text-decoration: none;
    }
  }

  .social_facebook {
    background-color: #35589b;
  }

  .social_twitter {
    background-color: #36a9e0;
  }

  .social_pinterest {
    background-color: #c91517;
  }

  .social_youtube {
    background-color: #da4937;
  }

  .social_rss {
    background-color: #f2aa18;
  }

  .dialog {
    position: absolute;
    padding: 15px;
    box-shadow: 0px 6px 12px 0px rgba(50,50,50,0.75);
    display: none;

    &.primary {
      border: 1px solid #becf00;
      border-top-width: 5px;
      background-color: #fff;
    }

    &:before {
      content: '';
      position: absolute;
      top: -17px;
      right: 11px;
      width: 24px;
      height: 17px;
      @include icons-sprite(dialog-arrow-up);
    }
  }

  #login_dialog {
    width: 290px;
    margin-top: 17px;

    label { display: block; }
    input {
      &[type='text'], &[type='password'], &[type='submit'] { width: 100%; }
    }
    .forgotten-password {
      font-family: 'MuseoSans900';
      font-size: 13px;
      font-size: 1.3rem;
      line-height: 21px;
      line-height: 2.1rem;
      color: #8cb624;
      letter-spacing: 1px;
      letter-spacing: .1rem;
    }
  }

footer {
    width: 100%;
    padding: 20px 0 30px 0;
    margin: 0 auto;
    background-color: #bece2a;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

footer .row {
    padding-bottom: 0
}

footer .component {
    padding: 20px
}

.ad-left, .ad-right {
    position: fixed;
    top: 0;
    width: 300px;
    height: 100%;
}

.ad-top {
    width: 100%;
    z-index: 1;
    padding: 10px 0;

    img {
        display: block;
        margin: 0 auto;
    }
}

.ad-left {
    left: 0;
    background: url('/assets/img/grids/ad-portrait.png') no-repeat center 250px transparent;
}
.ad-right {
    right: 0;
    background: url('/assets/img/grids/ad-portrait.png') no-repeat center 250px transparent;
}

.takeover {
    display: none;
    background-color: transparent;
    z-index: 1;
}

.takeover-active {
    .takeover { display: block; }
}

.wrapper > header {
  width: 100%;
  padding: 22px 0 0 0;
  min-height: 151px;
  position: relative;

  .logo {
    width: 452px;
    height: 95px;
    background: url(/assets/img/structure/logo.png) no-repeat left top;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .subscribe {
    position: absolute;
    width: 163px;
    height: 133px;
    right: 350px;
    bottom: -22px;
    @include icons-sprite(header-subscribe);
  }

  .sign-up {
    float: right;
    text-align: center;
    padding: 14px;
    color: #000;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 16px;
    line-height: 1.6rem;
    font-family: 'MuseoSansCond900';
    text-transform: uppercase;  
  }

  .social {
      text-align: right;
  }

  .login {
      text-align: right;
      margin: 15px 0 0 0;
      a { 
          text-transform: uppercase;
          border-left: 1px solid #becf00;
          padding: 0 0 0 10px;
          margin: 0 0 0 10px;
          color: #333;
          font-family: 'MuseoSans300';
          font-size: 11px;
          font-size: 1.1rem;
          line-height: 13px;
          line-height: 1.3rem;
          letter-spacing: 1px;
          letter-spacing: .1rem;
          text-transform: uppercase;

          &:hover, &:active, &:focus {
            color: #becf00;
          }

          &:first-child {
              border: none;
          }
      }
  }

  .search {
    text-align: right;
    margin: 30px 0 0 0;
    font-size: 0; /*  remove gap between inline block elements */

    .global-search {
      display: inline-block;
      border: 1px solid #becf00;
      border-right: none;
      color: #000;
      padding: 10px 8px;
      border-radius: 5px 0 0 5px;
      width: 240px;
      font-family: 'MuseoSans300';
      font-size: 14px;
      font-size: 1.4rem;
      line-height: 16px;
      line-height: 1.6rem;

      &:hover, &:active, &:focus {
        border-color: #000;
        color: #000;

        + .icon_search {
          border-color: #000;
          color: #000;
        }
      }
    }

    .icon_search {
      display: inline-block;
      border: 1px solid #becf00;
      border-left: none;
      color: #becf00;
      padding: 7px 4px 11px 10px;
      border-radius: 0 5px 5px 0;
      text-decoration: none;
      font-size: 16px;
      font-size: 1.6rem;
      line-height: 19px;
      line-height: 1.9rem;  

      &:hover, &:focus, &:active {
        color: #000;
      }
    }
  }
  .nav {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    border-top: 3px solid #000;
    border-bottom: 1px dotted #000;
  }
}

#global-search::-webkit-input-placeholder {
  color:    #becf00;
}

#global-search:-moz-placeholder {
  color:    #becf00;
}

#global-search::-moz-placeholder {
  color:    #becf00;
}

#global-search:-ms-input-placeholder {
  color:    #becf00;
}

.wrapper>header:before,.wrapper>header:after {
    content: "";
    display: table
}

.wrapper>header:after {
    clear: both
}

@media all and (max-width: 1024px) {
    .takeover-active {
        .takeover { display: none; }
        .wrapper { margin-top: 0; }
    } 
}

@media all and (max-width: 1023px) {
  .wrapper > header {
    background-color: #bed000;
    min-height: 0;
    height: 63px;
    padding: 0;
    position: static;
    border-bottom: 3px solid black;

    .social, .login, .subscribe, .sign-up {
      display: none;
    }

    .row {
      padding: 0;
    }

    .logo {
      width: 170px;
      height: 63px;
      background-position: center;
      background-size: contain;
      margin: 0 auto;
    }

    .search {
      position: absolute;
      top: 63px;
      left: 0;
      margin: 0;
      padding: 8px;
      width: 100%;
      text-align: left;
      display: none;

      .global-search {
        width: 100%;
      }

      .icon_search {
        position: absolute;
        right: 5px;
        background-color: #fff;
      }
    }

    .nav {
      margin: 0;
      border: none;
    }
  }
}


@media all and (max-width: 767px) {
    .wrapper>footer {
        padding:29px 0 33px
    }

    .gutterless .wrapper>footer {
        padding: 29px 0 33px
    }
}
